@import '../../../layout/MainTemplate.less';
@import '../../../layout/Template.less';

.processItem {
    @FONT-SIZE: 0.9rem;
    @FONT-SIZE-SUB: 0.7rem;
    @TEXT-COLOR-SUB: #999;

    position: relative;
    text-align: center;

    width: 100%;

    > .processItemBox {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        height: 100%;
        width: 100%;

        background-color: #fff;

        .image {
            width: 50%;
            height: 100%;
            background: green;

            float: left;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        .text {
            width: 50%;
            height: 100%;
            float: left;
            .title {
                color: #fff;
                text-transform: uppercase;
            }

            .content {
                color: #fff;
            }
        }
    }
}

//Ant Dropdown-----------------------------------------

.ant-dropdown {
    .ant-dropdown-menu {
        .ant-dropdown-menu-item {
            background-color: transparent;
        }
    }
}
