@import '../../../layout/Template.less';
@import '../../../layout/MainTemplate.less';

.verticalTab {
    .ant-radio-group {
        width: 100%;

        .ant-radio-button-wrapper,
        .ant-radio-button-wrapper-checked {
            width: calc(100% - @STDIO-MARGIN);
            height: 50px;
            line-height: 50px;

            background-color: transparent;

            box-shadow: none;
            border: none;
            border-radius: 0;
            border-left: 4px solid transparent;
            color: #777;

            text-transform: uppercase;
            font-weight: 600;

            padding: 0 0 0 1.5rem;
            margin: 0 @STDIO-MARGIN 0 0;
            font-size: 0.9rem;

            span.text {
                margin-left: 1rem;
            }
        }

        .ant-radio-button-wrapper-checked {
            background-color: #fff6e0;
            color: @STDIO-THEME-COLOR;
            border-radius: 0 999px 999px 0;
        }

        .ant-radio-button-wrapper:focus-within {
            outline: none;
        }

        .ant-radio-button-wrapper:not(:first-child)::before {
            display: none;
        }
    }
}
