@import '../../../layout/Template.less';
@import '../../../layout/MainTemplate.less';

.denVauModal {
    .ant-modal-content {
        .ant-modal-body {
            padding-top: 56px;
            video {
                width: 100%;
                height: auto;
            }
        }
    }
}
