@import '../../../layout/Template.less';
@import '../../../layout/MainTemplate.less';

.hondaPopupModal {
    .ant-modal-content {
        border-radius: 0;

        -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 1);
        -moz-box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 1);
        box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 1);

        .ant-modal-body {
            text-align: center;

            .uploadModal {
                text-align: center;
                color: #000;

                .anticon {
                    display: block;
                    margin: 1.5rem 0;
                    font-size: 4rem;
                    color: #009a07;
                }

                b {
                    font-size: 1.1rem;
                    width: 100%;
                }

                a {
                    width: 100%;
                }

                p {
                    width: 100%;
                    font-size: 0.9rem;
                }
            }

            .ant-row {
                margin: 1.5rem 0;
            }

            b {
                font-size: 1.2rem;
            }

            p {
                font-size: 1rem;
            }
        }

        .ant-modal-close-x {
        }
    }
}

.loginBox {
    .ant-modal-content {
        .ant-modal-header {
            text-align: center;
        }

        .ant-modal-body {
            .loginButton {
                width: 250px;
                height: 50px;
                margin: 1.5rem auto;
                padding: 0;
                cursor: pointer;

                border-radius: 6px;

                &.zalo {
                    background-color: #10a8e1;
                }

                &.facebook {
                    background-color: #4267b2;
                }

                > .icon {
                    display: inline-block;
                    width: 50px;
                    height: 50px;

                    vertical-align: top;

                    img {
                        width: 30px;
                        height: 30px;
                        margin: 10px;
                    }
                }

                > .text {
                    width: calc(100% - 50px);
                    height: 50px;
                    line-height: 50px;
                    display: inline-block;
                    color: #fff;
                    font-size: 0.75rem;

                    b {
                        font-size: 0.8rem;
                        line-height: normal;
                    }
                }
            }
        }
    }
}

.chooseColor {
    text-align: center;
    width: 300px !important;
    .ant-modal-content {
        width: 300px;
        .ant-modal-header {
            text-align: center;
        }
        .ant-modal-body {
            height: 170px;

            .containBox {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;

                a {
                    img {
                        width: 80px;
                        border: 1px solid transparent;
                    }

                    p {
                        color: black;
                    }

                    &:hover {
                        img {
                            border: 1px solid red;
                        }

                        p {
                            color: red;
                        }
                    }
                }
            }
        }
    }
}

.guideVideo {
    width: 490px !important;
    .ant-modal-content {
        padding-top: 56px;

        display: flex;
        justify-content: center;
        align-items: center;

        .ant-modal-body {
            padding: 5px !important;
        }
    }
}

.completeUpdateInfo {
    .ant-modal-content {
        .ant-modal-body {
            padding: 20px !important;
            b {
                display: block;
            }
            h3,
            a {
                display: inline-block;
                font-size: 1.2rem;
                font-weight: bold;
            }

            .redCharacters {
                color: #f71111;
                text-decoration: underline;
            }
        }
    }
}

@media (max-width: @STDIO-XS-MAX) {
    .hondaMenu {
        > .hondaMenuBox {
            .desktopMenu {
                display: none;
            }

            .mobileMenuButton {
                display: block;
            }
        }
    }
}

@media (max-width: 500px) {
    .guideVideo {
        width: 320px !important;
    }
}

@media (min-width: @STDIO-SM-MIN) and (max-width: @STDIO-SM-MAX) {
    .hondaMenu {
        > .hondaMenuBox {
            .desktopMenu {
                display: none;
            }

            .mobileMenuButton {
                display: block;
            }
        }
    }
}

@media (min-width: @STDIO-MD-MIN) and (max-width: @STDIO-MD-MAX) {
    .hondaMenu {
        > .hondaMenuBox {
            .desktopMenu {
                display: none;
            }

            .mobileMenuButton {
                display: block;
            }
        }
    }
}

@media (min-width: @STDIO-LG-MIN) and (max-width: @STDIO-LG-MAX) {
    .hondaMenu {
        > .hondaMenuBox {
            .desktopMenu {
                display: none;
            }

            .mobileMenuButton {
                display: block;
            }
        }
    }
}

@media (min-width: @STDIO-XL-MIN) and (max-width: @STDIO-XL-MAX) {
}

@media (min-width: @STDIO-XXL-MIN) {
}
