@import '../../../layout/Template.less';
@import '../../../layout/MainTemplate.less';

.misthyModal {
    .ant-modal {
        padding: 5px;

        .ant-modal-content {
            .ant-modal-body {
                text-align: center;
                video {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
    }
}
