@import "../../../layout/Template.less";
@import "../../../layout/MainTemplate.less";

.basicCollapse {
    width: 100%;

    &Box {
        width:100%;
        max-width: @STDIO-MAX-WIDTH;

        margin-top: 0;

        .ant-collapse-item {
            font-size:1.2rem;
            letter-spacing: 0.2rem;
        }

        p {
            font-style: normal;
            font-weight: 300;
            line-height: 1.5rem;
            font-size: 1rem;
            letter-spacing: normal;
        }
    }
}

@media (max-width: @STDIO-XS-MAX) {
}

@media (min-width: @STDIO-SM-MIN) and (max-width: @STDIO-SM-MAX) {
}

@media (min-width: @STDIO-MD-MIN) and (max-width: @STDIO-MD-MAX) {
}

@media (min-width: @STDIO-LG-MIN) and (max-width: @STDIO-LG-MAX) {
}

@media (min-width: @STDIO-XL-MIN) and (max-width: @STDIO-XL-MAX) {
}

@media (min-width: @STDIO-XXL-MIN) {
}