@import '../../../layout/Template.less';
@import '../../../layout/MainTemplate.less';

button.basicRoundButton {
    height: 40px;
    padding: 0 16px;
    font-weight: 700;
    background-color: transparent;
    border-radius: 20px;
    box-shadow: none;
    color: #333;
    box-shadow: #000;

    span {
        font-size: 0.68rem;
    }

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
        outline: none;
        box-shadow: none;
        color: @STDIO-THEME-COLOR;
        border-color: @STDIO-THEME-COLOR;
    }
}
