@import '../../../layout/Template.less';
@import '../../../layout/MainTemplate.less';

.hondaTitleDropdown {
    margin-bottom: 1rem;

    > .hondaTitleDropdownBox {
        width: 100%;
        display: flex;
        justify-content: space-between;

        > .titleDropdownTitle {
            h3 {
                color: #fff;
                font-size: 1.4rem;
                text-transform: uppercase;
                margin: 0;

                span {
                    margin-right: 15px;
                }
            }

            p {
                color: #fff;
                font-size: 0.8rem;
                text-transform: uppercase;
                margin: 0;
            }
        }

        > .titleDropdownButtons {
            > .titleDropdownButton {
                background-color: #f71111;
                padding: 0.2rem 0.5rem;
                text-align: center;

                .hondaDropdownButton {
                    cursor: pointer;

                    img {
                        width: 80%;
                    }
                }
            }
        }
    }
}

@media (max-width: @STDIO-SM-MAX) {
    .hondaTitleDropdown {
        > .hondaTitleDropdownBox {
            > .titleDropdownTitle {
                h3 {
                    font-size: 1.05rem;

                    span {
                        width: 100%;
                        margin: 0;
                        display: block;
                    }
                }

                p {
                }
            }

            .titleDropdownButtons {
                .titleDropdownButton {
                    width: 2.25rem;
                    .hondaDropdownButton {
                        padding-bottom: 3px;
                    }
                }
            }
        }
    }
}
