@import '../../../layout/Template.less';
@import '../../../layout/MainTemplate.less';

.hondaDropdown {
    width:auto;
    .hondaDropdownButton {
        background-color:@STDIO-THEME-COLOR;
        color:#fff;
        width:70px;
        height:40px;
        text-align: center;
        cursor: pointer;
        font-size:1.4rem;
    }
}