@import '../../../layout/Template.less';
@import '../../../layout/MainTemplate.less';

.labelLarge {
    width: 270px;
    height: 100px;

    margin: 1rem 0;
    position: relative;

    box-sizing: border-box;

    > .circle {
        width: 100px;
        height: 100px;
        position: absolute;
        z-index: 2;

        padding: 1.5rem 1rem;
        border-radius: 999px;
        border: 5px solid #fff;

        color: #fff;
        background-color: #f70d0d;

        text-align: center;
        line-height: 1.7rem;
        font-size: 1.6rem;

        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        p {
            margin: 0;
        }
    }

    > .rect {
        width: calc(100% - 97px);
        height: 60px;
        float: right;

        text-align: center;

        background-color: #f70d0d;
        clip-path: polygon(100% 0, calc(100% - 20px) 50%, 100% 100%, 0 100%, 0 0);
        -webkit-clip-path: polygon(100% 0, calc(100% - 20px) 50%, 100% 100%, 0 100%, 0 0);

        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);

        position: absolute;
        top: 20px;
        left: 80px;
        padding-left: 25px;
        padding-right: 25px;

        display: flex;
        align-items: center;
        justify-content: center;

        p {
            margin: 0;

            text-transform: uppercase;
            font-weight: 600;
            font-size: 0.8rem;
            color: #fff;
        }
    }
}
