@import '../../../layout/Template.less';
@import '../../../layout/MainTemplate.less';

.labelSmall {
    width: 200px;
    height: 70px;

    margin: 1rem 0;
    position: relative;

    > .circle {
        width: 70px;
        height: 70px;

        padding: 1rem 0.2rem;
        border: 4px solid #fff;
        border-radius: 999px;

        color: #fff;
        background-color: #f70d0d;

        text-align: center;
        line-height: 0.95rem;
        font-size: 0.8rem;

        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        p {
            margin: 0;
            font-size: 0.7rem;
        }
    }

    > .rect,
    > .rectExtra {
        width: calc(100% - 60px);
        height: 45px;

        text-align: center;
        position: absolute;

        display: flex;
        align-items: center;
        justify-content: center;

        p {
            margin: 0;

            text-transform: uppercase;
            font-weight: 600;
            font-size: 0.6rem;
            color: #fff;
        }
    }

    .rect {
        background-color: #f70d0d;

        clip-path: polygon(100% 0, calc(100% - 15px) 50%, 100% 100%, 0 100%, 0 0);
        -webkit-clip-path: polygon(100% 0, calc(100% - 15px) 50%, 100% 100%, 0 100%, 0 0);

        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);

        top: 12.5px;
        left: 55px;
        padding: 0 15px;
    }

    .rectExtra {
        top: 50px;
        left: 55px;
        padding: 0;

        p {
            color: #fff;
        }
    }
}

@media (max-width: @STDIO-XS-MAX) {
    .labelSmall {
        width: 160px;

        .circle {
            width: 65px;
            height: 65px;
        }

        .rect {
            p {
                font-size: 0.45rem;
            }
        }
    }
}
