@import '../../../../layout/Template.less';
@import '../../../../layout/MainTemplate.less';

.basicSelect {
    width: auto;
    .basicSelectButton {
        background-color: #fff;
        color: #fff;
        width: 70px;
        height: 40px;
        text-align: center;
        cursor: pointer;
        font-size: 1.4rem;
    }
    button {
        width: 100px;
        text-align: left;
        color: #999;
    }
}
