@import "../../../../layout/Template.less";
@import "../../../../layout/MainTemplate.less";

.basicTab {

    .ant-radio-button-wrapper,
    .ant-radio-button-wrapper-checked {
        background-color: transparent;
        color: #999;

        border: none;
        border-radius: 0;
        border-bottom: 2px solid #999;

        text-transform: uppercase;
        font-weight: 600;
        
        padding: 0 0.8rem;
        margin: 0 4px 0 0;
        box-shadow: none;
        font-size:0.8rem;

        &:last-of-type {
            margin-right: 0;
        }
    }

    .ant-radio-button-wrapper-checked {
        background-color: #fff;
        color: @STDIO-THEME-COLOR;
        border-color: @STDIO-THEME-COLOR;
    }

    .ant-radio-button-wrapper {
        &:focus-within {
            outline: none;
        }

        &:not(:first-child)::before {
            display: none;
        }
    }
}