@import '../../../layout/Template.less';
@import '../../../layout/MainTemplate.less';

.prizeTextItem {
    width:100%;
    height:64px;
    position: relative;

    > .artItem {
        width:64px;
        height:32px;
        background-color:rgb(255, 80, 80);
        position: absolute;
        left:0;
        top:8px;
    }

    > .majorText {
        width:calc(100% - 24px);
        height:32px;
        line-height:32px;
        background-color:#f00;
        position: absolute;
        right:0;
        bottom:0;
        color:#fff;
        text-align: center;
        clip-path: polygon(0 0, calc(100% - 16px) 0, 100% 16px, calc(100% - 16px) 100%, 0 100%);
        -webkit-clip-path: polygon(0 0, calc(100% - 16px) 0, 100% 16px, calc(100% - 16px) 100%, 0 100%);
    }

    > .minorText {
        width:100%;
        height:32px;
        line-height:32px;
        position: absolute;
        left:72px;
        top:0;
        color:#fff;
    }
}