@import '../../../layout/Template.less';
@import '../../../layout/MainTemplate.less';

.prizeItem {
    margin-bottom: 1rem;

    > .prizeItemBox {
        > .thumbnail {
// padding-top: 176%;
            padding-top:130%;
            position: relative;
> .thumbnailBox {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 1);
                -moz-box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 1);
                box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 1);

                overflow: hidden;
                display: flex;
                // align-items: center;
                background-color: #000;
                border: 1px solid #fff;

                img {
                    min-width:100%;
                    min-height:100%;
                    object-fit:cover;
                    border: 3px solid #fff;
                }
            }

            > .logoContentHonda,
            > .logoContentRsx {
                width:30%;
                position: absolute;
                top:0;

                img {
                    width:100%;
                }
            }

            > .logoContentHonda {
                left:0;
            }

            > .logoContentRsx {
                top:10px;
                right:10px;
            }

            > .likeLabel {
                position: absolute;
                bottom: 10px;
                left: 10px;

                width: 20px;
                height: 20px;
                border-radius: 999px;

                color: #f71111;
                background-color: #fff;

                line-height: 20px;
                text-align: center;
                font-size:0.8rem;

                &.active {
                    background-color: #f71111;
                    color: #fff;
                }
            }

            .playButton {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                font-size: 3.5rem;

                display: flex;
                align-items: center;
                justify-content: center;

                color: #fff;

                cursor: pointer;
            }

            > .voteCount {
                position: absolute;
                bottom: 10px;
                left: 35px;
                font-size:0.8rem;
                color: #fff;

            }

        }

        > .meta {
            width: 100%;
            height: 4rem;

            background-image: url(/static/main/pc/label.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: bottom left;
            position: relative;

            margin-top: 1rem;

            > span {
                color: #fff;
                position: absolute;
            }

            > span:first-of-type {
                font-weight: 600;
                font-size: 0.8rem;
                bottom: 75%;
                left: 15%;
                transform: rotate(356deg);
            }

            > span:last-of-type {
                font-size: 1rem;
                text-transform: uppercase;
                bottom: 20%;
                left: 5%;
            }
        }
    }
}
