@import '../../../layout/MainTemplate.less';
@import '../../../layout/Template.less';

.prizeIntroItem {
    position: relative;
    padding-top: 100%;
    text-align: center;

    background-size: contain;
    background-repeat: no-repeat;
}