@import '../../../layout/Template.less';
@import '../../../layout/MainTemplate.less';

.bannerCenterLeft {
    width: 100%;
    height: 100%;
    min-height: 37rem;

    display: flex;
    align-items: center;
    justify-content: center;

    &Box {
        max-width: @STDIO-MAX-WIDTH;
        margin: 0 auto;

        justify-content: center;
        align-items: center;

        h2 {
            font-size: 3rem;
            font-weight: 600;
            letter-spacing: 0.3125rem;
            text-transform: uppercase;
        }

        p:nth-of-type(1) {
            font-size: 1.25rem;
            letter-spacing: 0.3125rem;
            font-weight: 500;
            margin: 0;
            text-transform: uppercase;
        }

        p:nth-of-type(2) {
            font-size: 1.5625rem;
            margin: 0;
            border-left: 2px solid #000;
            padding-left: 2rem;
            line-height: 2.5625rem;
            font-weight: 300;
            margin: 1.5625rem 0;
        }

        p:nth-of-type(3) {
            margin-top: 3rem;
            text-align: center;

            a {
                color: @STDIO-THEME-COLOR;
                font-size: 1rem;
                font-weight: 600;
                letter-spacing: 0.234375rem;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: @STDIO-XS-MAX) {
}

@media (min-width: @STDIO-SM-MIN) and (max-width: @STDIO-SM-MAX) {
}

@media (min-width: @STDIO-MD-MIN) and (max-width: @STDIO-MD-MAX) {
}

@media (min-width: @STDIO-LG-MIN) and (max-width: @STDIO-LG-MAX) {
}

@media (min-width: @STDIO-XL-MIN) and (max-width: @STDIO-XL-MAX) {
}

@media (min-width: @STDIO-XXL-MIN) {
}
