@import "../../../layout/Template.less";
@import "../../../layout/MainTemplate.less";

.bannerCenterCenter {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &Box {
        max-width: @STDIO-MAX-WIDTH;
        justify-content: center;
        align-items: center;
        text-align: center;

        h2 {
            font-size:3.125rem;
            font-weight: 600;
            letter-spacing: .3125rem;
            padding: .5rem 4rem;
            text-transform: uppercase;
        }

        p:nth-of-type(1){
            font-size: 1.25rem;
            letter-spacing: .3125rem;
            font-weight: 500;
            margin:0;
            text-transform: uppercase;
        }

        p:nth-of-type(2) {
            margin-top: 3rem;
            text-align: center;

            a {
                font-size: 1rem;
                font-weight: 600;
                letter-spacing: .234375rem;
                cursor: pointer;
                
            }
        }
    }
}

@media (max-width: @STDIO-XS-MAX) {
}

@media (min-width: @STDIO-SM-MIN) and (max-width: @STDIO-SM-MAX) {
}

@media (min-width: @STDIO-MD-MIN) and (max-width: @STDIO-MD-MAX) {
}

@media (min-width: @STDIO-LG-MIN) and (max-width: @STDIO-LG-MAX) {
}

@media (min-width: @STDIO-XL-MIN) and (max-width: @STDIO-XL-MAX) {
}

@media (min-width: @STDIO-XXL-MIN) {
}