@import '../../../layout/Template.less';
@import '../../../layout/MainTemplate.less';

@keyframes headerScrollEnterAnimation {
    0% {
        background-color: rgba(255, 255, 255, 0);
    }
    100% {
        background-color: rgba(255, 255, 255, 255);
    }
}

@keyframes headerScrollExitAnimation {
    0% {
        background-color: rgba(255, 255, 255, 255);
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}

.hondaHeader {
    width: 100%;
    position: fixed;
    z-index: 999;

    .headerMargin {
        width: 100%;
        height: @STDIO-HEADER-FOOTER-HEIGHT;
    }

    &Box {
        width: 100%;
        padding: 0 @STDIO-PADDING;
        height: @STDIO-HEADER-FOOTER-HEIGHT;

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .logo {
            width: 100px;
            height: @STDIO-HEADER-FOOTER-HEIGHT;
            line-height: 0;
            padding: 15px 0;

            img {
                height: 100%;
            }
        }

        .menu {
            height: @STDIO-HEADER-FOOTER-HEIGHT;
            // line-height: @STDIO-HEADER-FOOTER-HEIGHT;

            display: flex;
            align-items: center;
        }
    }

    &.scrollHeaderEnterStyle {
        animation: headerScrollEnterAnimation 0.5s;
        background-color: rgba(255, 255, 255, 255);
        .hondaMenuBox .desktopMenu .desktopProfile .profileUsername {
            color: #000 !important;
        }
        .hondaMenuBox .headerButtons .mobileProfile .profileUsername {
            color: #000 !important;
            vertical-align: top;
        }
    }

    &.scrollHeaderExitStyle {
        animation: headerScrollExitAnimation 0.5s;
        background-color: rgba(255, 255, 255, 0);
    }
}

@media (max-width: @STDIO-XS-MAX) {
    .hondaHeader {
        .hondaHeaderBox {
            .logo {
                width: 50px !important;
            }

            .headerButtons {
                .mobileMenuButton {
                    width: 35px !important;
                }
            }
        }
    }
}

@media (min-width: @STDIO-SM-MIN) and (max-width: @STDIO-SM-MAX) {
}

@media (min-width: @STDIO-MD-MIN) and (max-width: @STDIO-MD-MAX) {
}

@media (min-width: @STDIO-LG-MIN) and (max-width: @STDIO-LG-MAX) {
}

@media (min-width: @STDIO-XL-MIN) and (max-width: @STDIO-XL-MAX) {
}

@media (min-width: @STDIO-XXL-MIN) {
}
