@import '../layout/Template.less';
@import '../layout/MainTemplate.less';

.locking {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999999;

    display: flex;
    align-items: center;
    justify-content: center;

    p {
        color: #fff;
        text-align: center;
    }
}

.contents {
    width: 100%;
    min-height: 100vh;
    background-color: transparent;
    background-image: url('/static/main/pc/bg-award-kols.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;

    > .contentsBox {
        width: 100%;
        max-width: @STDIO-MAX-WIDTH;
        padding: 150px 15px;

        .title {
            margin-bottom: 50px;
        }

        .search {
            margin-bottom: 50px;

            .ant-input-search {
                height: 2.5rem;
            }
        }

        .loadMoreButton {
            text-align: center;
            padding: 1.2rem 0;

            button {
                width: 250px;
                height: 50px;

                color: #fff;
                background-color: transparent;
                border-radius: 0;
                border: none;

                // background-image: url('/static/main/pc/tai-them-button.svg');
                // background-size: contain;
                // background-position: center;
                // background-repeat: no-repeat;

                // font-size: 1rem;
                // font-weight: 500;
                // line-height: 50px;
                // font-family: Arial, Helvetica, sans-serif;
            }
        }
    }
}

@media (max-width: @STDIO-XS-MAX) {
}

@media (min-width: @STDIO-SM-MIN) and (max-width: @STDIO-SM-MAX) {
}

@media (min-width: @STDIO-MD-MIN) and (max-width: @STDIO-MD-MAX) {
}

@media (min-width: @STDIO-LG-MIN) and (max-width: @STDIO-LG-MAX) {
}

@media (min-width: @STDIO-XL-MIN) and (max-width: @STDIO-XL-MAX) {
}

@media (min-width: @STDIO-XXL-MIN) {
}
