@import '../layout/Template.less';
@import '../layout/MainTemplate.less';

.content {
    width: 100%;
    min-height: 100vh;
    background-color: transparent;
    background-image: url('/static/main/pc/bg-award-kols.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;

    > .contentBox {
        width: 100%;
        max-width: @STDIO-MAX-WIDTH;
        padding: 150px 0;

        .title {
            width: 100%;
            margin-bottom: 50px;
            padding: 0 @STDIO-PADDING;
        }

        .lockingBox {
            width: 100%;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            p {
                color: #fff;
                text-align: center;
            }
        }

        .videoBox {
            width: 100%;
            max-width: 400px;
            margin: 0 auto;
            padding: 0 @STDIO-PADDING;

            .shareButton {
                width: 100%;
                display: flex;
                justify-content: flex-end;

                .fb-share-button {
                    width: 83px;
                    height: 28px;
                    margin-right: 10px;
                }

                .zalo-share-button {
                    width: 83px !important;
                    height: 28px !important;
                    padding-top: 4px;
                    padding-bottom: 4px;
                    background-color: #03a5fa;
                    cursor: pointer;
                    border-radius: 3px;
                }

                .facebookShare {
                    width: 83px !important;
                    height: 28px !important;

                    padding: 4px 10px;

                    background-color: #4267b2;
                    color: #fff;

                    font-size: 13px;
                    font-weight: bold;

                    cursor: pointer;
                    text-decoration: none;
                    border-radius: 3px;

                    .anticon {
                        display: inline-block;
                    }

                    .text {
                        width: calc(100% - 13px);
                        display: inline-block;
                        text-align: right;
                    }
                }
            }

            .loginBox {
                width: 100px;
                height: 30px;
                margin: 1rem auto;
                background-color: #f71111;
                color: #fff;
                border-radius: 2.5px;
                line-height: 30px;
                text-align: center;
            }

            // button {
            //     width: 250px;
            //     height: 80px;

            //     margin: 0 auto;
            //     border-radius: 0;
            //     border: none;

            //     background: transparent;
            //     background-image: url('/static/main/shared/button-binh-chon.svg');
            //     background-size: contain;
            //     background-position: center;
            //     background-repeat: no-repeat;
            // }
        }
    }
}

.locking {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999999;

    display: flex;
    align-items: center;
    justify-content: center;

    p {
        color: #fff;
        text-align: center;
    }
}

@media (max-width: @STDIO-XS-MAX) {
}

@media (min-width: @STDIO-SM-MIN) and (max-width: @STDIO-SM-MAX) {
}

@media (min-width: @STDIO-MD-MIN) and (max-width: @STDIO-MD-MAX) {
}

@media (min-width: @STDIO-LG-MIN) and (max-width: @STDIO-LG-MAX) {
}

@media (min-width: @STDIO-XL-MIN) and (max-width: @STDIO-XL-MAX) {
}

@media (min-width: @STDIO-XXL-MIN) {
}
