@import '../layout/Template.less';
@import '../layout/MainTemplate.less';

@RATIO-LINE: 26.15%;
@RATIO-ARROW: 29%;

@SPEC-MARGIN-PRIZES-TOP: -22%;
@SPEC-MARGIN-PROCESS-TOP: -5.3%;
@SPEC-MARGIN-FOOTER-TOP: -25%;

@TITLE-MARGIN-TOP: 3rem;
@TITLE-MARGIN-BOTTOM: 3rem;

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    z-index: 99999999;
}

.locking {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999999;

    display: flex;
    align-items: center;
    justify-content: center;

    p {
        color: #fff;
        text-align: center;
    }
}

.index {
    width: 100%;
    background-color: #000;
    position: relative;

    > .indexBox {
        .backTop {
            width: 40px;
            height: 40px;

            position: fixed;
            right: 10px;
            bottom: 46%;

            z-index: 99;

            background-color: #000;
            border-radius: 99px;

            -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 1);
            -moz-box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 1);
            box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 1);

            cursor: pointer;

            justify-content: center;
            align-items: center;

            img {
                height: 20px;
            }
        }

        > .banner {
            > .bannerCanvas {
                padding-top: 77.3%;

                background-color: #ff0000;
                background-image: url('/static/main/pc/bg-banner.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;

                position: relative;
                // z-index: 0;

                img {
                    position: absolute;
                    &.bike {
                        width: 58%;
                        top: 25%;
                        left: 11%;
                    }

                    &.slogan {
                        width: 30%;
                        top: 28%;
                        left: 0;
                    }

                    &.logoRsx {
                        width: 20%;
                        bottom: 26%;
                        right: 1.5%;
                    }

                    &.title {
                        width: 22%;
                        top: 25%;
                        left: 1%;
                    }
                }

                .durationText {
                    width: 28%;
                    text-align: right;
                    font-style: italic;
                    color: #fff;
                    position: absolute;
                    top: 43%;
                    left: 0;
                    font-weight: bold;
                    font-size: 1rem;
                }

                .text {
                    height: 10%;

                    position: absolute;
                    top: 70%;
                    left: 2%;

                    z-index: 10;

                    .textWrapper {
                        width: fit-content;

                        padding: 0 13px;

                        background: linear-gradient(to left, #ffb5b5, #ff1821) left bottom transparent no-repeat;
                        background-size: 100% 30%;

                        clip-path: polygon(13px 0%, 100% 0%, calc(100% - 13px) 100%, 0% 100%);
                        -webkit-clip-path: polygon(13px 0%, 100% 0%, calc(100% - 13px) 100%, 0% 100%);

                        p {
                            margin: 0;
                            color: #fff;
                            text-transform: uppercase;

                            font-weight: bold;
                            font-style: italic;
                            font-size: 1.8rem;
                            line-height: 2.1rem;
                        }
                    }
                }

                .bannerButton {
                    position: absolute;
                    height: 6%;
                    top: 80%;

                    cursor: pointer;
                    z-index: 99;
                }

                .bannerButton.termButton {
                    left: 3%;
                    img {
                        height: 100%;
                    }
                }

                .bannerButton.joinButton {
                    left: 20%;
                    img {
                        height: 100%;
                    }
                }
            }
        }

        .prizes {
            margin-top: @SPEC-MARGIN-PRIZES-TOP;

            display: flex;
            justify-content: center;
            position: relative;

            > .prizesBackground {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                background-color: @HONDA-THEME-COLOR;
                transform: skewY(-6deg);
            }

            > .borderTop {
                background-image: url('/static/main/shared/line.svg');
                width: 100%;
                padding-top: 29%;
                position: absolute;
                top: 0;
                background-position: top;
                background-size: cover;
                background-repeat: no-repeat;

                filter: blur(0.01rem);
            }

            > .prizesBox {
                width: 100%;
                max-width: @STDIO-MAX-WIDTH;

                padding: 0;
                padding-top: 29%;
                padding-bottom: 10%;
                z-index: 2;

                .title {
                    margin: @TITLE-MARGIN-TOP 0 @TITLE-MARGIN-BOTTOM 0;
                    padding: 0 @STDIO-PADDING;
                }

                .weeklyPrize {
                    .subTitle {
                        position: relative;
                        margin-bottom: @TITLE-MARGIN-BOTTOM;

                        color: #fff;

                        text-align: center;
                        text-transform: uppercase;
                        text-shadow: -1px 1px 3px @STDIO-THEME-COLOR;

                        font-weight: bold;
                        font-size: 1.6rem;
                    }

                    .prizeName {
                        text-align: center;
                    }
                }

                .bestPrize {
                    .subTitle {
                        position: relative;
                        margin: @TITLE-MARGIN-TOP 0 @TITLE-MARGIN-BOTTOM 0;

                        color: #fff;

                        text-align: center;
                        text-transform: uppercase;

                        font-weight: bold;
                        font-size: 2rem;
                    }

                    .bestPrizeItem {
                        padding-top: 90%;
                        margin-top: -20%;

                        background: url('/static/main/pc/bg-bike@3x.png') 50% 50% no-repeat;
                        background-size: contain;

                        position: relative;

                        .bestPrizeItemBox {
                            position: absolute;

                            width: 50%;
                            height: 50%;

                            background-image: url('/static/main/pc/bike.png');
                            background-size: 100%;
                            background-repeat: no-repeat;

                            top: 30%;
                            left: 15%;
                        }

                        .name {
                            width: 100%;

                            position: absolute;
                            top: 72%;

                            color: #fff;

                            font-size: 1.6rem;
                            font-weight: bold;

                            text-align: center;
                        }
                    }
                }
            }

            > .borderBottom {
                background-image: url('/static/main/shared/line-cheo.svg');
                width: 100%;
                padding-top: 26.15%;
                position: absolute;
                bottom: 0;
                background-position: top;
                background-size: cover;
                background-repeat: no-repeat;

                filter: blur(0.01rem);
            }
        }

        .process {
            margin-top: @SPEC-MARGIN-PROCESS-TOP;

            display: flex;
            justify-content: center;

            position: relative;

            .processBackground {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;

                background-image: url('/static/main/pc/bg-process.jpg');
                background-size: cover;
                background-repeat: no-repeat;

                transform: skewY(-6deg);
                outline: 1px solid transparent;
            }

            .processBox {
                width: 100%;
                max-width: @STDIO-MAX-WIDTH;

                padding: 4% 10px 0 10px;

                z-index: 2;

                .title {
                    margin-top: 100px;
                    width: 100%;
                    margin: @TITLE-MARGIN-TOP 0 @TITLE-MARGIN-BOTTOM 0;

                    p {
                        color: #fff;

                        font-size: 2rem;
                        line-height: 1.5;
                        font-style: italic;
                        font-weight: bold;

                        text-transform: uppercase;
                        text-align: center;
                    }
                }

                .processCanvas {
                    padding-top: 95%;
                    position: relative;

                    .line {
                        width: 12%;
                        height: 100%;

                        position: absolute;
                        top: 0;
                        left: 44%;

                        background-image: url('/static/main/shared/process-path.svg');
                        background-repeat: no-repeat;
                        background-position: top center;
                        background-size: contain;
                    }

                    .stepDot {
                        width: 10%;
                        height: 10%;
                        position: absolute;

                        background-repeat: no-repeat;
                        background-size: contain;

                        &.stepDot1 {
                            top: 0%;
                            left: 50%;
                            background-image: url('/static/main/shared/hotspot-1.svg');
                        }

                        &.stepDot2 {
                            top: 35%;
                            left: 39.5%;
                            background-image: url('/static/main/shared/hotspot-2.svg');
                        }

                        &.stepDot3 {
                            top: 65%;
                            left: 50.5%;
                            background-image: url('/static/main/shared/hotspot-3.svg');
                        }
                    }

                    .stepThumbnail {
                        position: absolute;

                        background-repeat: no-repeat;
                        background-size: contain;

                        &.stepThumbnail1 {
                            width: 23%;
                            height: 23%;
                            background-image: url('/static/main/pc/process-mobile.png');
                            top: 0;
                            left: 35%;
                        }

                        &.stepThumbnail2 {
                            width: 40%;
                            height: 40%;
                            background-image: url('/static/main/pc/process-bike.png');
                            top: 24%;
                            left: 45%;
                        }

                        &.stepThumbnail3 {
                            width: 26%;
                            height: 26%;
                            background-image: url('/static/main/shared/process-share.svg');
                            top: 65%;
                            left: 16%;
                        }
                    }

                    .stepText {
                        position: absolute;

                        h3 {
                            color: #fff;
                            font-size: 1.4rem;
                            line-height: 1.7rem;
                            font-weight: bold;
                            text-transform: uppercase;
                        }

                        p {
                            font-size: 1rem;
                            color: #fff;
                        }

                        &.stepText1 {
                            width: 35%;
                            text-align: left;

                            left: 62%;
                            top: 0%;
                        }

                        &.stepText2 {
                            width: 35%;
                            text-align: right;

                            right: 62%;
                            top: 29%;

                            .ant-btn {
                                max-width: 100%;
                                background-color: #f71111;
                                color: #fff;
                                border: none;
                                border-radius: 0;
                                outline: none;
                                box-shadow: none;
                                -webkit-box-shadow: none;
                                padding: 0 10px;
                                text-align: center;
                            }

                            img {
                                width: 40%;
                            }
                        }

                        &.stepText3 {
                            width: 35%;
                            text-align: left;

                            left: 62%;
                            top: 58%;
                        }
                    }
                }
            }
        }

        .kols {
            display: flex;
            justify-content: center;
            position: relative;

            > .kolsBackground {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                background-image: url('/static/main/pc/bg-award-kols.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                transform: skewY(-6deg);
                outline: 1px solid transparent;
            }

            > .borderTop {
                background-image: url('/static/main/shared/line-cheo-reversed-3-5.svg');
                width: 100%;
                padding-top: 15.6%;
                position: absolute;
                top: 0;
                background-position: top;
                background-size: cover;
                background-repeat: no-repeat;
                transform: skewY(-6deg);
                outline: 1px solid transparent;
                z-index: 1;

                filter: blur(0.01rem);
            }

            .kolsBox {
                width: 100%;
                max-width: @STDIO-MAX-WIDTH;
                min-height: 700px;

                padding: 25% 20px;
                padding-top: 20%;
                z-index: 2;

                > .title {
                    width: 100%;
                    margin: @TITLE-MARGIN-TOP 0 @TITLE-MARGIN-BOTTOM 0;

                    > p:first-of-type {
                        color: #fff;
                        max-width: 1000px;
                        margin: 0;

                        font-size: 1.6rem;
                        font-style: italic;
                        font-weight: bold;

                        text-transform: uppercase;
                        text-align: left;
                    }

                    > p:last-of-type {
                        color: #fff;
                        max-width: 1000px;

                        font-size: 1.2rem;
                        font-style: italic;
                        font-weight: bold;

                        text-transform: uppercase;
                        text-align: right;
                    }
                }
            }

            > .borderBottom {
                background-image: url('/static/main/shared/line-cheo-3-5.svg');
                width: 100%;
                padding-top: 15.6%;
                margin-bottom: -2px;
                position: absolute;
                bottom: 0;
                background-position: top;
                background-size: cover;
                background-repeat: no-repeat;
                transform: skewY(-6deg);
                z-index: 1;
                outline: 1px solid transparent;

                filter: blur(0.01rem);
            }
        }

        .award {
            display: flex;
            justify-content: center;

            position: relative;
            .awardBackground {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                background-image: url('/static/main/pc/bg-award-kols.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: top;

                transform: skewY(-6deg);
                outline: 1px solid transparent;
            }

            .awardBox {
                width: 100%;
                max-width: @STDIO-MAX-WIDTH;

                padding: 0 24px;
                padding-top: 2%;
                padding-bottom: 10%;
                z-index: 2;

                > .title {
                    margin: @TITLE-MARGIN-TOP 0 @TITLE-MARGIN-BOTTOM 0;
                }
            }
        }

        .term {
            display: flex;
            justify-content: center;
            position: relative;

            > .termBackground {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                background-color: transparent;
                background-image: url('/static/main/pc/bg-terms.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;

                transform: skewY(-6deg);
                outline: 1px solid transparent;
            }

            > .borderTop {
                background-image: url('/static/main/shared/line-cheo-reversed-3-5.svg');
                width: 100%;
                padding-top: 15.6%;
                margin-top: -2px;
                position: absolute;
                top: 0;
                background-position: top;
                background-size: cover;
                background-repeat: no-repeat;
                transform: skewY(-6deg);
                outline: 1px solid transparent;
                z-index: 1;

                filter: blur(0.01rem);
            }

            .termBox {
                width: 100%;
                max-width: 800px;

                padding: 0 @STDIO-PADDING;
                padding-top: 15%;
                padding-bottom: 27.5%;
                z-index: 2;

                > .title {
                    width: 100%;
                    margin: @TITLE-MARGIN-TOP 0 @TITLE-MARGIN-BOTTOM 0;
                }

                > .termContent {
                    h3 {
                        color: #fff;
                    }

                    p {
                        color: #fff;
                        text-indent: 2rem;
                    }
                }

                .button {
                    width: 250px;
                    height: 50px;
                    margin: 3rem auto;

                    cursor: pointer;
                }
            }

            > .borderBottom {
                background-image: url('/static/main/shared/line-cheo-3-5.svg');
                image-rendering: auto;
                width: 100%;
                padding-top: 15.6%;
                margin-bottom: -1px;
                position: absolute;
                bottom: 0;
                background-position: top;
                background-size: cover;
                background-repeat: no-repeat;
                transform: skewY(-6deg);
                outline: 1px solid transparent;
                z-index: 1;

                filter: blur(0.01rem);
            }
        }

        .login {
            display: flex;
            justify-content: center;
            position: relative;
            z-index: 0;
            background-color: transparent;

            .loginBackground {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                background-color: transparent;
                background-image: url('/static/main/pc/bg-login.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: top;
                z-index: 1;

                transform: skewY(-6deg);
                -webkit-transform: skewY(-6deg);
                margin-top: -1px;
                backface-visibility: visible;
            }

            .loginBox {
                width: 100%;
                height: 100%;
                max-width: 800px;

                padding: @STDIO-PADDING;
                padding-top: 7%;
                padding-bottom: 30%;
                z-index: 1;

                .loginForm {
                    width: 100%;

                    .title {
                        width: 100%;
                        top: 0;
                        margin: @TITLE-MARGIN-TOP 0 @TITLE-MARGIN-BOTTOM 0;
                    }

                    .loginButton {
                        width: 240px;
                        height: 50px;
                        margin: 1.5rem auto;
                        padding: 0;
                        cursor: pointer;

                        -webkit-box-shadow: 10px 10px 5px -11px rgba(0, 0, 0, 1);
                        -moz-box-shadow: 10px 10px 5px -11px rgba(0, 0, 0, 1);
                        box-shadow: 10px 10px 5px -11px rgba(0, 0, 0, 1);

                        border-radius: 6px;

                        &.zalo {
                            background-color: #10a8e1;
                        }

                        &.facebook {
                            background-color: #4267b2;
                        }

                        > .icon {
                            display: inline-block;
                            width: 50px;
                            height: 50px;

                            img {
                                width: 30px;
                                height: 30px;
                                margin: 10px;
                            }
                        }

                        > .text {
                            width: calc(100% - 50px);
                            height: 50px;
                            line-height: 50px;
                            display: inline-block;
                            text-align: center;
                            color: #fff;
                        }
                    }
                }

                .uploadVideoForm {
                    .title {
                        width: 100%;
                        top: 0;
                        margin: @TITLE-MARGIN-TOP 0 @TITLE-MARGIN-BOTTOM 0;
                    }

                    > .uploadTray {
                        margin: 1.5rem 0;

                        > input {
                            visibility: hidden;
                        }

                        .ant-progress {
                            .ant-progress-text {
                                color: #fff !important;
                            }
                        }

                        .titleVideo {
                            .text {
                                b {
                                    display: inline-block;
                                    width: 160px;
                                    vertical-align: bottom;
                                    color: #fff;
                                    line-height: 2rem;
                                }
                            }
                            .ant-input {
                                position: relative;
                                height: 32px;
                                background-color: #fff;
                                vertical-align: bottom;
                                text-align: right;

                                border-radius: 0;

                                -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 1);
                                -moz-box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 1);
                                box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 1);
                            }
                        }

                        b {
                            display: inline-block;
                            width: 160px;
                            vertical-align: bottom;
                            color: #fff;
                            line-height: 2rem;
                        }

                        .uploadInputFieldTitle {
                            position: relative;
                            width: 100%;
                            height: 32px;
                            -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 1);
                            -moz-box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 1);
                            box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 1);
                            border-radius: 0;
                            border: none;
                        }

                        label {
                            .uploadInputFieldUpload {
                                position: relative;
                                display: inline-block;
                                width: 100%;
                                height: 32px;
                                background-color: #fff;
                                vertical-align: bottom;
                                text-align: right;

                                -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 1);
                                -moz-box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 1);
                                box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 1);

                                p {
                                    width: calc(100% - 25px);
                                    height: 32px;
                                    margin: 0;
                                    text-align: left;
                                    line-height: 32px;
                                    padding-left: 1rem;
                                    display: inline-block;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                }

                                .button {
                                    display: inline-block;
                                    width: 25px;
                                    height: 32px;

                                    background-color: #eceeef;
                                    color: #999;

                                    font-size: 1rem;
                                    line-height: 32px;
                                    text-align: center;
                                    vertical-align: top;
                                    cursor: pointer;
                                }
                            }
                        }

                        .ant-progress {
                            margin: 1rem 0;
                        }

                        .hide {
                            visibility: hidden;
                        }

                        .show {
                            visibility: visible;
                        }

                        .buttonsField {
                            .agree {
                                button {
                                    height: 50px;
                                    display: block;
                                    margin: 1rem auto;
                                    background-color: transparent;
                                    border-radius: 0px;
                                    border: none;

                                    > img {
                                        height: 50px;
                                    }
                                }
                            }

                            .back {
                                button {
                                    height: 50px;
                                    display: block;
                                    margin: 1rem auto;
                                    background-color: transparent;
                                    border-radius: 0px;
                                    border: none;

                                    img {
                                        height: 50px;
                                    }
                                }
                            }
                        }
                    }

                    .checkboxSelectHEAD {
                        .ant-checkbox-wrapper:hover .ant-checkbox-inner,
                        .ant-checkbox:hover .ant-checkbox-inner,
                        .ant-checkbox-input:focus + .ant-checkbox-inner {
                            border-color: #f00;
                        }

                        .ant-checkbox-checked .ant-checkbox-inner {
                            background-color: #f00;
                            border-color: #f00;
                        }
                    }

                    .selectHeadEnable {
                        width: 90%;
                        max-width: 120px;
                    }

                    .selectHeadTown {
                        width: 100%;
                    }

                    .selectHeadHead {
                        width: 100%;
                    }

                    .selectHeadEnable.active,
                    .selectHeadHead.active,
                    .selectHeadTown.active {
                        box-shadow: 0px 0px 10px 0px #ff0000;
                    }

                    .selectHeadTown,
                    .selectHeadHead {
                        &:hover,
                        &:focus {
                            border-color: #ff0000;
                            outline: none;
                            --antd-wave-shadow-color: #ff0000;
                        }
                    }
                }

                .joinNowForm {
                    width: 100%;
                    min-height: 300px;

                    .title {
                        width: 100%;
                        top: 0;
                        margin: @TITLE-MARGIN-TOP 0 @TITLE-MARGIN-BOTTOM 0;
                    }

                    .buttonsField {
                        margin: 4rem 0;

                        div {
                            padding: 0 0.5rem;

                            img {
                                height: 50px;
                            }

                            img:hover,
                            img:focus,
                            img:active {
                                cursor: pointer;
                            }
                        }

                        .back {
                            text-align: center;
                            button {
                                width: auto !important;
                                img {
                                    width: 14rem;
                                }
                            }
                        }
                    }
                }

                .updateInfoForm {
                    width: 100%;
                    text-align: center;

                    .title {
                        width: 100%;
                        top: 0;
                        margin-bottom: 30px;
                    }

                    a {
                        width: 100%;
                        position: relative;
                    }

                    .infoFields {
                        padding: @STDIO-PADDING;
                        z-index: 1;

                        text-align: left;

                        p {
                            color: #fff;
                            font-weight: 500;
                            text-align: left;
                        }

                        .ant-input {
                            height: 40px;
                            border-radius: 0px;
                        }

                        .ant-input,
                        .ant-input:hover,
                        .ant-input:active,
                        .ant-input:focus,
                        .ant-input:focus-within {
                            -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 1);
                            -moz-box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 1);
                            box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 1);
                        }
                    }

                    .agreeUpdate {
                        width: 200px;
                        height: 50px;

                        display: inline-block;
                    }
                }
            }
        }

        .footer {
            margin-top: @SPEC-MARGIN-FOOTER-TOP;

            padding-top: 30%;
            padding-bottom: 2%;

            display: flex;
            justify-content: center;
            position: relative;
            z-index: 100;

            .footerBackground {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                background-color: transparent;
                background-image: url('/static/main/pc/bg-footer.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: top;
                z-index: 2;

                outline: 1px solid transparent;
            }

            > .borderTop {
                background-image: url('/static/main/shared/line-reflect.svg');
                width: 100%;
                padding-top: 29%;
                position: absolute;
                top: 0;
                background-position: top;
                background-size: cover;
                background-repeat: no-repeat;

                z-index: 3;
                filter: blur(0.01rem);
            }

            .footerBox {
                max-width: @STDIO-MAX-WIDTH;
                width: 100%;
                height: 100%;

                padding: 0 @STDIO-PADDING;
                color: #fff;
                z-index: 2;

                .footerColumn {
                    margin: 0;

                    h3 {
                        color: #fff;
                        font-weight: bold;
                    }

                    ul {
                        margin: 0;
                        padding: 0;
                        display: flex;
                        justify-content: space-between;

                        li {
                            list-style: none;
                            padding: 0;
                            margin: 0.5rem 0 0.5rem 0;
                            display: inline-block;

                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }

                    a {
                        color: #fff;
                    }

                    img {
                        width: 72px;
                    }
                }
            }
        }
    }
}

@media (max-width: @STDIO-MD-MAX) {
    .index {
        > .indexBox {
            .banner {
                > .bannerCanvas {
                    padding-top: 95%;
                    img {
                        &.bike {
                            width: 60%;
                            top: 29.5%;
                            left: 11%;
                        }

                        &.slogan {
                            width: 40%;
                            top: 25%;
                            left: 0;
                        }

                        &.logoRsx {
                            width: 20%;
                            bottom: 23%;
                            right: 1%;
                        }

                        &.title {
                            top: 21%;
                            left: 1%;

                            width: 31%;
                        }
                    }

                    .durationText {
                        font-size: 0.5rem;
                    }

                    .bannerButton {
                        height: 8%;
                        top: 80%;
                    }

                    .bannerButton.termButton {
                        left: 3%;
                    }

                    .bannerButton.joinButton {
                        left: 27%;
                    }

                    .text {
                        height: 10%;

                        top: 70%;
                        left: 2.5%;
                        .textWrapper {
                            padding: 0 13px;

                            background-size: 100% 38%;

                            clip-path: polygon(13px 0%, 100% 0%, calc(100% - 13px) 100%, 0% 100%);
                            -webkit-clip-path: polygon(13px 0%, 100% 0%, calc(100% - 13px) 100%, 0% 100%);

                            p {
                                margin: 0;

                                font-size: 0.85rem;
                                line-height: 1.1rem;
                            }
                        }
                    }
                }
            }

            .prizes {
                .prizesBox {
                    .bestPrize {
                        .bestPrizeItem {
                            padding-top: 150%;
                            background-size: 150%;

                            .bestPrizeItemBox {
                                width: 85%;
                                height: 85%;

                                left: -8%;
                            }

                            .name {
                                top: 80%;
                            }
                        }
                    }
                }
            }

            .process {
                .processBox {
                    // padding-bottom: 28%;

                    .title {
                        p {
                            font-size: 1.6rem;
                        }
                    }

                    .processCanvas {
                        padding-top: 150%;
                        .line {
                            width: 15%;
                            height: 100%;

                            left: 40%;
                        }

                        .stepDot {
                            background-size: 100%;

                            &.stepDot1 {
                                left: 49.5%;
                            }

                            &.stepDot2 {
                                left: 35.5%;
                            }

                            &.stepDot3 {
                                left: 50%;
                            }
                        }

                        .stepThumbnail {
                            &.stepThumbnail1 {
                                left: 20%;
                            }

                            &.stepThumbnail2 {
                                width: 55%;
                                height: 55%;
                            }
                        }

                        .stepText {
                            position: absolute;

                            h3 {
                                font-size: 1rem;
                                line-height: 1.1rem;
                            }

                            p {
                                font-size: 1rem;
                                line-height: 1.1rem;
                            }

                            &.stepText2 {
                                right: 64%;
                                top: 25%;

                                img {
                                    width: 70%;
                                }
                            }

                            &.stepText3 {
                                left: 62%;
                            }
                        }
                    }
                }
            }

            .footer {
                padding-top: 30%;
                padding-bottom: 2%;

                position: relative;

                > .borderTop {
                    padding-top: 29%;
                    position: absolute;
                    top: 0;
                    background-position: top;
                    background-size: cover;
                    background-repeat: no-repeat;

                    filter: blur(0.01rem);
                }

                .footerBox {
                    max-width: @STDIO-MAX-WIDTH;
                    width: 100%;

                    padding: 0 @STDIO-PADDING;
                    color: #fff;

                    .footerColumn {
                        margin: 0.5rem 0;
                        display: table-cell;
                        vertical-align: bottom;

                        img {
                            height: 36px;
                            width: 36px;
                        }

                        h3 {
                            color: #fff;
                            font-weight: bold;
                            font-size: 0.4rem;
                        }

                        ul {
                            margin: 0;
                            padding: 0;

                            li {
                                list-style: none;
                                padding: 0;
                                margin: 0.5rem 1rem 0.5rem 0;
                                display: inline-block;

                                vertical-align: bottom;
                                font-size: 0.3rem;

                                &:last-child {
                                    margin-right: 0;
                                }
                            }
                        }

                        a {
                            color: #fff;
                        }
                    }
                }
            }

            .login {
                .loginBox {
                    .joinNowForm {
                        b {
                            width: 100%;
                        }
                        label {
                            .field {
                                width: calc(100% - 2rem);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 374px) and (max-width: @STDIO-XS-MAX) {
    .index {
        > .indexBox {
            .process {
                .processBox {
                    padding-bottom: 29%;

                    .processCanvas {
                        .line {
                            left: 44%;
                            background-image: url('/static/main/shared/process-path-1.svg') !important;
                        }

                        .stepDot {
                            &.stepDot1 {
                                left: 51%;
                            }

                            &.stepDot2 {
                                left: 42%;
                            }

                            &.stepDot3 {
                                left: 51%;
                                top: 75% !important;
                            }
                        }

                        .stepText {
                            &.stepText2 {
                                width: 45%;
                                right: 57%;
                            }
                        }

                        .stepThumbnail {
                            &.stepThumbnail3 {
                                top: 80%;
                            }
                        }
                    }

                    .title {
                        p {
                            font-size: 0.7rem;
                            margin: 0;
                        }
                    }
                }
            }

            .kols {
                .kolsBox {
                    .title {
                        > p:first-of-type {
                            font-size: 1.1rem;
                        }

                        > p:last-of-type {
                            font-size: 0.8rem;
                        }
                    }
                }
            }

            .term {
                .termBox {
                    padding-bottom: 30%;
                }
            }

            .login {
                .loginBox {
                    .uploadVideoForm {
                        .uploadTray {
                            label {
                                .field {
                                    p {
                                        height: 32px;
                                        width: calc(100% - 25px);
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                    }
                                }
                            }

                            .buttonsField {
                                .back {
                                    img {
                                        height: 25px !important;
                                    }
                                }

                                .agree {
                                    img {
                                        height: 25px !important;
                                    }
                                }
                            }
                        }
                    }

                    .joinNowForm {
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media (min-width: 0) and (max-width: 373.98px) {
    .index {
        .indexBox {
            .banner {
                .bannerCanvas {
                    img {
                        &.bike {
                            width: 58%;
                            top: 24%;
                            left: 12%;
                        }

                        &.slogan {
                            width: 30%;
                            top: 28%;
                            left: 0;
                        }

                        &.logoRsx {
                            width: 20%;
                            bottom: 23%;
                            right: 1.5%;
                        }

                        &.title {
                            width: 22%;
                            top: 25%;
                            left: 1%;
                        }
                    }

                    .durationText {
                        font-size: 0.3rem;
                    }

                    .text {
                        top: 66%;
                        left: 1%;
                    }

                    .bannerButton {
                        height: 10%;
                        top: 79%;
                    }

                    .bannerButton.termButton {
                        left: 3%;
                    }

                    .bannerButton.joinButton {
                        left: 27%;
                    }
                }
            }

            .process {
                .processBox {
                    .processCanvas {
                        padding-top: 210%;

                        .line {
                            background-image: url('/static/main/shared/process-path-1.svg') !important;
                        }

                        .stepText {
                            h3 {
                                font-size: 0.7rem !important;
                            }

                            p {
                                font-size: 0.7rem !important;
                            }

                            &.stepText2 {
                                top: 15%;
                            }

                            &.stepText3 {
                                top: 45%;
                                left: 60%;
                            }
                        }

                        .stepDot {
                            &.stepDot1 {
                                left: 48%;
                            }

                            &.stepDot2 {
                                left: 37%;
                            }

                            &.stepDot3 {
                                left: 48%;
                                top: 75% !important;
                            }
                        }

                        .stepThumbnail {
                            &.stepThumbnail1 {
                                width: 14%;
                                height: 14%;
                            }

                            &.stepThumbnail3 {
                                left: 13%;
                                top: 65% !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

// FOR TITLE SIZE
.process .processBox .title p,
.kols .kolsBox > .title > p:first-of-type {
    font-size: @TITLE-FONT-SIZE-DEFAULT;
}

@media (min-width: @STDIO-XXS-MAX) and (max-width: @STDIO-MD-MAX) {
    .process .processBox .title p,
    .kols .kolsBox > .title > p:first-of-type {
        font-size: @TITLE-FONT-SIZE-MD;
    }
}

@media (max-width: @STDIO-XXS-MAX) {
    .process .processBox .title p,
    .kols .kolsBox > .title > p:first-of-type {
        font-size: @TITLE-FONT-SIZE-XXS;
    }
}

//

@media (max-width: @STDIO-XXS-MAX) {
    .index {
        > .indexBox {
            .process {
                .processBox {
                    .processCanvas {
                        .stepText {
                            h3 {
                                font-size: 0.7rem;
                            }

                            p {
                                font-size: 0.7rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Optimize for background

@media (min-width: 480px) and (max-width: 800px) {
    // Target landscape smartphones, portrait tablets, narrow desktops

    .index > .indexBox {
        .backTop {
            bottom: 28%;
        }

        .banner {
            > .bannerCanvas {
                background-image: url(/static/main/tablet/bg-banner.jpg);
            }
        }

        .prizes {
            > .prizesBox {
                .bestPrize {
                    .bestPrizeItem {
                        background-image: url(/static/main/tablet/bg-bike@3x.png);

                        .bestPrizeItemBox {
                            background-image: url(/static/main/tablet/bike.png);
                        }
                    }
                }
            }
        }

        .process {
            .processBackground {
                background-image: url(/static/main/tablet/bg-process.jpg);
            }

            .processBox .processCanvas {
                .stepThumbnail.stepThumbnail1 {
                    background-image: url(/static/main/tablet/process-mobile.png);
                }

                .stepThumbnail.stepThumbnail2 {
                    background-image: url(/static/main/tablet/process-bike.png);
                }
            }
        }

        .kols {
            > .kolsBackground {
                background-image: url(/static/main/tablet/bg-award-kols.jpg);
            }
        }

        .term {
            .termBackground {
                background-image: url(/static/main/tablet/bg-terms.jpg);
            }
        }

        .login {
            .loginBackground {
                background-image: url(/static/main/tablet/bg-login.jpg);
            }
        }

        .footer {
            background-image: url(/static/main/tablet/bg-footer.jpg);
        }
    }
}

@media (max-width: 479px) {
    // Target portrait smartphones

    .index > .indexBox {
        .backTop {
            bottom: 20%;
        }

        .banner {
            > .bannerCanvas {
                background-image: url(/static/main/phone/bg-banner.jpg);
            }
        }

        .prizes {
            > .prizesBox {
                .bestPrize {
                    .bestPrizeItem {
                        background-image: url(/static/main/phone/bg-bike@3x.png);

                        .bestPrizeItemBox {
                            background-image: url(/static/main/phone/bike.png);
                        }
                    }
                }
            }
        }

        .process {
            .processBackground {
                background-image: url(/static/main/phone/bg-process.jpg);
            }

            .processBox .processCanvas {
                .stepThumbnail.stepThumbnail1 {
                    background-image: url(/static/main/phone/process-mobile.png);
                }

                .stepThumbnail.stepThumbnail2 {
                    background-image: url(/static/main/phone/process-bike.png);
                }
            }
        }

        .kols {
            > .kolsBackground {
                background-image: url(/static/main/phone/bg-award-kols.jpg);
            }
        }

        .term {
            .termBackground {
                background-image: url(/static/main/phone/bg-terms.jpg);
            }
        }

        .login {
            .loginBackground {
                background-image: url(/static/main/phone/bg-login.jpg);
            }
        }

        .footer {
            background-image: url(/static/main/phone/bg-footer.jpg);
        }
    }
}

button.updateInfoSendButton {
    width: 100%;
    height: 40px;
    background-color: #ff0000;
    color: #fff;

    &:focus,
    &:focus-within,
    &:hover {
        background-color: #aa0000;
        color: #fff;
        border-color: transparent;
    }
}
