@import '../layout/Template.less';
@import '../layout/MainTemplate.less';

.terms {
    width: 100%;
    background-color: transparent;
    background-image: url('/static/main/pc/bg-terms.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;

    > .termsBox {
        width: 100%;
        max-width: @STDIO-MAX-WIDTH;
        padding:150px @STDIO-PADDING 0 @STDIO-PADDING;

        .title {
            margin-bottom:50px;
        }

        .content {
            color: #fff;
            background: transparent !important;
        }
    }
}

@media (max-width: @STDIO-XS-MAX) {
}

@media (min-width: @STDIO-SM-MIN) and (max-width: @STDIO-SM-MAX) {
}

@media (min-width: @STDIO-MD-MIN) and (max-width: @STDIO-MD-MAX) {
}

@media (min-width: @STDIO-LG-MIN) and (max-width: @STDIO-LG-MAX) {
}

@media (min-width: @STDIO-XL-MIN) and (max-width: @STDIO-XL-MAX) {
}

@media (min-width: @STDIO-XXL-MIN) {
}
