@import '../layout/Template.less';
@import '../layout/MainTemplate.less';

.videoPlayer {
    width:100%;
    height:100vh;
    background-color:#000;
    display:block;
    display: flex;
    justify-content: center;

    .videoPlayerBox {
        max-width: 100%;
        display: flex;
        justify-content: center;

        video {
            max-width: 100%;
            max-height: 100%;
        }
    }
}