@import '../../../layout/Template.less';
@import '../../../layout/MainTemplate.less';

.hondaMenu {
    display: inline-block;

    > .hondaMenuBox {
        .desktopMenu {
            border: none;

            .desktopProfile {
                width: auto;
                height: 70px;
                display: inline-block;
                line-height: 70px;
                color: #fff;
                font-size: 0.8rem;
                vertical-align: top;

                .profileImage {
                    height: @STDIO-HEADER-FOOTER-HEIGHT;

                    display: inline-block;
                    margin-right: 5px;

                    img {
                        width: 20px;
                        height: 20px;
                    }
                }

                .profileUsername {
                    height: @STDIO-HEADER-FOOTER-HEIGHT;

                    display: inline-block;
                }
            }

            .item {
                display: inline-block;

                &.active {
                    .line {
                        // background: linear-gradient(to left, red, red) center 37px transparent no-repeat;
                        background-size: 80% 10%;

                        -webkit-clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
                        clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
                    }
                }

                a {
                    width: auto;
                    height: @STDIO-HEADER-FOOTER-HEIGHT;
                    line-height: @STDIO-HEADER-FOOTER-HEIGHT;
                    display: inline-block;
                    padding: 0 20px;
                    text-transform: uppercase;
                    font-weight: 600;
                    color: #fff;
                }
            }
        }

        .headerButtons {
            // width: 200px;
            height: @STDIO-HEADER-FOOTER-HEIGHT;
            float: right;
            display: none;

            .mobileProfile {
                height: 70px;
                display: inline-block;
                line-height: 70px;
                color: #fff;
                font-size: 0.8rem;

                .profileImage {
                    height: @STDIO-HEADER-FOOTER-HEIGHT;

                    display: inline-block;

                    img {
                        width: 20px;
                        height: 20px;
                    }
                }

                .profileUsername {
                    height: @STDIO-HEADER-FOOTER-HEIGHT;

                    display: inline-block;
                }
            }

            .joinNowButton {
                height: auto;
                display: inline-block;

                img {
                    width: 100px;
                }
            }

            .mobileMenuButton {
                width: 50px;
                height: @STDIO-HEADER-FOOTER-HEIGHT;
                background-color: transparent;
                border: none;
                text-align: right;
                padding: 0;
                display: inline-block;
                cursor: pointer;

                &Icon {
                    font-size: 1.8em;
                    color: @STDIO-THEME-COLOR;
                }

                &:active,
                &:focus,
                &:focus-within,
                &:hover,
                &:visited {
                    outline: none;
                }
            }
        }
    }

    &.scrollMenuEnterStyle {
        > .hondaMenuBox {
            .desktopMenu {
                .item {
                    display: inline-block;

                    &.active {
                        .line {
                            // background: linear-gradient(to left, rgb(255, 202, 202), rgb(255, 202, 202)) center 37px transparent no-repeat;
                            background-size: 80% 10%;

                            -webkit-clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
                            clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
                        }
                    }

                    a {
                        color: red;
                    }

                    .homepage {
                        background: transparent;
                        clip-path: none;
                    }
                }
            }
        }
    }

    &.scrollMenuExitStyle {
    }
}

.mobileMenuDrawer {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: @STDIO-THEME-COLOR;
    padding: 0;

    .mobileMenu {
        text-align: center;

        .item {
            width: 100%;
            display: inline-block;

            &.active {
                .line {
                    // background: linear-gradient(to left, #ff8686, #ff8686) center 37px transparent no-repeat;
                    background-size: 80% 10%;

                    -webkit-clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
                    clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
                }
            }

            a {
                width: auto;
                height: @STDIO-HEADER-FOOTER-HEIGHT;
                line-height: @STDIO-HEADER-FOOTER-HEIGHT;
                display: inline-block;
                margin: 0;
                text-transform: uppercase;
                padding: 0 25px;
                font-weight: 600;
                color: #333;
            }
        }
    }
}

@media (max-width: @STDIO-XS-MAX) {
    .hondaMenu {
        > .hondaMenuBox {
            .desktopMenu {
                display: none;
            }

            .headerButtons {
                display: flex;
                align-items: center;
            }
        }
    }
}

@media (min-width: @STDIO-SM-MIN) and (max-width: @STDIO-SM-MAX) {
    .hondaMenu {
        > .hondaMenuBox {
            .desktopMenu {
                display: none;
            }

            .headerButtons {
                display: flex;
                align-items: center;
            }
        }
    }
}

@media (min-width: @STDIO-MD-MIN) and (max-width: @STDIO-MD-MAX) {
    .hondaMenu {
        > .hondaMenuBox {
            .desktopMenu {
                display: none;
            }

            .headerButtons {
                display: flex;
                align-items: center;
            }
        }
    }
}

@media (min-width: @STDIO-LG-MIN) and (max-width: @STDIO-LG-MAX) {
    .hondaMenu {
        > .hondaMenuBox {
            .desktopMenu {
                display: none;
            }

            .headerButtons {
                display: flex;
                align-items: center;
            }
        }
    }
}

@media (min-width: @STDIO-XL-MIN) and (max-width: @STDIO-XL-MAX) {
}

@media (min-width: @STDIO-XXL-MIN) {
}
