@import '../../../layout/Template.less';
@import '../../../layout/MainTemplate.less';

.hondaMenu2 {
    display: inline-block;

    > .hondaMenu2Box {
        .desktopMenu {
            border: none;

            .item {
                display: inline-block;

                &.active {
                    .line {
                        // background: linear-gradient(to left, red, red) center 37px transparent no-repeat;
                        // background-size: 80% 10%;
                        // -webkit-clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
                        // clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
                    }
                }

                a {
                    width: auto;
                    height: @STDIO-HEADER-FOOTER-HEIGHT;
                    line-height: @STDIO-HEADER-FOOTER-HEIGHT;
                    display: inline-block;
                    padding: 0 15px;
                    text-transform: uppercase;
                    font-weight: 600;
                    color: #fff;

                    img {
                        width:200px;
                    }
                }
            }
        }

        .mobileMenuButton {
            width: @STDIO-HEADER-FOOTER-HEIGHT;
            height: @STDIO-HEADER-FOOTER-HEIGHT;
            background-color: transparent;
            border: none;
            text-align: right;
            padding: 0;
            display: none;
            cursor: pointer;

            &Icon {
                font-size: 1.8em;
                color: @STDIO-THEME-COLOR;
            }

            &:active,
            &:focus,
            &:focus-within,
            &:hover,
            &:visited {
                outline: none;
            }
        }
    }

    &.scrollMenuEnterStyle {
        > .hondaMenu2Box {
            .desktopMenu {
                .item {
                    display: inline-block;
    
                    &.active {
                        .line {
                            // background: linear-gradient(to left, rgb(255, 202, 202), rgb(255, 202, 202)) center 37px transparent no-repeat;
                            // background-size: 80% 10%;
                            // -webkit-clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
                            // clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
                        }
                    }

                    a {
                        color: red;
                    }

                    .homepage {
                        background: transparent;
                        clip-path: none;
                    }
                }
            }
        }
    }

    &.scrollMenuExitStyle {
    }
}

.mobileMenuDrawer {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: @STDIO-THEME-COLOR;
    padding: 0;

    .mobileMenu {
        text-align: center;

        .item {
            width: 100%;
            display: inline-block;

            &.active {
                .line {
                    // background: linear-gradient(to left, #ff8686, #ff8686) center 37px transparent no-repeat;
                    background-size: 80% 10%;

                    -webkit-clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
                    clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
                }
            }

            a {
                width: auto;
                height: @STDIO-HEADER-FOOTER-HEIGHT;
                line-height: @STDIO-HEADER-FOOTER-HEIGHT;
                display: inline-block;
                margin: 0;
                text-transform: uppercase;
                padding:0 25px;
                font-weight: 600;
                color: #333;
            }
        }
    }
}

// @media (max-width: @STDIO-XS-MAX) {
//     .hondaMenu {
//         > .hondaMenuBox {
//             .desktopMenu {
//                 display: none;
//             }

//             .mobileMenuButton {
//                 display: block;
//             }
//         }
//     }
// }

// @media (min-width: @STDIO-SM-MIN) and (max-width: @STDIO-SM-MAX) {
//     .hondaMenu {
//         > .hondaMenuBox {
//             .desktopMenu {
//                 display: none;
//             }

//             .mobileMenuButton {
//                 display: block;
//             }
//         }
//     }
// }

// @media (min-width: @STDIO-MD-MIN) and (max-width: @STDIO-MD-MAX) {
//     .hondaMenu {
//         > .hondaMenuBox {
//             .desktopMenu {
//                 display: none;
//             }

//             .mobileMenuButton {
//                 display: block;
//             }
//         }
//     }
// }

// @media (min-width: @STDIO-LG-MIN) and (max-width: @STDIO-LG-MAX) {
//     .hondaMenu {
//         > .hondaMenuBox {
//             .desktopMenu {
//                 display: none;
//             }

//             .mobileMenuButton {
//                 display: block;
//             }
//         }
//     }
// }

@media (max-width: @STDIO-LG-MAX) {
    .hondaMenu2 {
        display: inline-block;
    
        > .hondaMenu2Box {
            .desktopMenu {
                border: none;
    
                .item {
                    display: inline-block;
    
                    a {
                        height: @STDIO-HEADER-FOOTER-HEIGHT / 3;
                        line-height:@STDIO-HEADER-FOOTER-HEIGHT / 3;
                        padding: 0 5px;
                        font-size:0.4rem;

                        img {
                            width:60px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: @STDIO-XXL-MIN) {
}
