@import './Template.less';
@import './AuthTemplate.less';
@import './MainTemplate.less';

.authLayout {
    width: 100%;
    height: 100vh;
    padding: 0 @STDIO-AUTH-PADDING;
    background-color: @STDIO-AUTH-BACKGROUND-COLOR;

    .contentLayout {
    }
}
