@import "./Template.less";

@STDIO-AUTH-PADDING: 20px;
@STDIO-AUTH-MARGIN: 20px;
@STDIO-AUTH-MAX-WIDTH: 350px;
@STDIO-AUTH-BACKGROUND-COLOR: #f5f5f5;
@STDIO-AUTH-LOGO-SIZE: 48px;
@STDIO-AUTH-THEME-COLOR: @STDIO-THEME-COLOR;

.authTemplate {

    &-body {
        width:100%;

        display: flex;
        align-items: center;
        justify-content: center;

        &Box {
            width:100%;
            max-width: @STDIO-AUTH-MAX-WIDTH;

            .title {
                margin-bottom:@STDIO-AUTH-MARGIN;
                font-weight: bold;
            }

            .textAlign {
                &Left {text-align: left}
                &Center {text-align: center}
                &Right {text-align: right}
            }

            button {
                width:100%;
                height:40px;
                border-radius:20px;
                text-align:center;
                font-weight:bold;

                &.logIn,
                &.signUp,
                &.recoverPassword {
                    color:#fff;
                    background-color:@STDIO-AUTH-THEME-COLOR;
                    border-color:@STDIO-AUTH-THEME-COLOR;
                }
                &:hover.logIn,
                &:hover.signUp,
                &:hover.recoverPassword {
                    color:@STDIO-AUTH-THEME-COLOR;
                    background-color:#fff;
                    border-color:@STDIO-AUTH-THEME-COLOR;
                }

                &.facebook {
                    color:#fff;
                    background-color: #3f5d94;
                    border-color:#3f5d94;
                }
                &:hover.facebook {
                    color: #3f5d94;
                    background-color:#fff;
                    border-color:#3f5d94;
                }

                &.google {
                    color:#555;
                    background-color:#fff;
                }
                &:hover.google {
                    color:#fff;
                    background-color:#555;
                    border-color:#fff;
                }
            }
            
            .ant-row {
                margin-bottom: @STDIO-AUTH-MARGIN;
            }

            .ant-form-item {
                margin-bottom:0;
            }
        }
    }

}