@import './Template.less';

@STDIO-CMS-PADDING: 20px;
@STDIO-CMS-MARGIN: 20px;
@STDIO-CMS-ACTION-MARGIN : 10px; // FOR TABLE STYLE PAGE FILTER MARGIN RIGHT
@STDIO-CMS-BORDER-COLOR: @STDIO-BORDER-COLOR;

@STDIO-CMS-HEADER-FOOTER-HEIGHT: 64px;

.cmsTemplate-list {
    .action {
        background-color: #fff;
        padding: @STDIO-CMS-ACTION-MARGIN;
        margin-bottom: 10px;
        border-bottom: 1px solid @STDIO-CMS-BORDER-COLOR;
        border-radius: 4px;

        .colLeft {
            float: left;

            .search {
                width: 280px;
                margin-right: @STDIO-CMS-ACTION-MARGIN;
            }

            .sort {
                width: 150px;
            }
        }

        .colRight {
            float: right;
        }
    }

    .result {
        border-radius: 4px;
        background-color: #fff;

        .ant-table {
            font-size: 0.9em;

            .button {
                margin: 0px 10px;
            }
        }
    }

    .pagination {
        margin-top: @STDIO-CMS-PADDING;
        float: right;
    }
}

.cmsTemplate-profile {
    .tabs {
        min-height: 100vh;
        margin-top: 30px;
    }

    .info {
        border-top: 1px solid @STDIO-CMS-BORDER-COLOR;
        padding: 15px 0 !important;
    }

    .tabPane {
        padding-left: @STDIO-CMS-PADDING;
    }
}
