@import './Template.less';
@import './MainTemplate.less';

.mainLayout {
    width: 100%;
    // margin-top: 54px;
    // background-color:#eee;

    .contentLayout {
        margin: 0;
        // background-color:#eee;
    }
}

.ant-layout {
    // background-color: transparent;

    .ant-back-top {
        // z-index: 15;
        bottom: 150px;

        .ant-back-top-content {
            -webkit-box-shadow: 0 0 4px 1px rgba(255, 0, 0, 1);
            -moz-box-shadow: 0 0 4px 1px rgba(255, 0, 0, 1);
            box-shadow: 0 0 4px 1px rgba(255, 0, 0, 1);

            .ant-back-top-icon {
                background: url('/static/main/shared/arrow.png') no-repeat center;
                background-size: contain;
            }
        }
    }
}
