@STDIO-XXS-MAX: 376px;

@STDIO-XS-MIN : 0px;
@STDIO-XS-MAX : 575.98px;

@STDIO-SM-MIN : 576px;
@STDIO-SM-MAX : 767.98px;

@STDIO-MD-MIN : 768px;
@STDIO-MD-MAX : 991.98px;

@STDIO-LG-MIN : 992px;
@STDIO-LG-MAX : 1199.98px;

@STDIO-XL-MIN : 1200px;
@STDIO-XL-MAX : 1599.98px;

@STDIO-XXL-MIN : 1600px;

@STDIO-THEME-COLOR: #ea2030;
@STDIO-THEME-COLOR-2ND: #ff6600;
@STDIO-THEME-COLOR-3RD: #ffbb00;
@STDIO-THEME-COLOR-4TH: #ffb300;
@STDIO-THEME-COLOR-5TH: #fff6e0;
@STDIO-BORDER-COLOR: #e5e5e5;

@HONDA-THEME-COLOR: #251e1e;
// @HONDA-THEME-COLOR: #00ff00;

@media (max-width: @STDIO-XS-MAX) {
}

@media (min-width: @STDIO-SM-MIN) and (max-width: @STDIO-SM-MAX) {
}

@media (min-width: @STDIO-MD-MIN) and (max-width: @STDIO-MD-MAX) {
}

@media (min-width: @STDIO-LG-MIN) and (max-width: @STDIO-LG-MAX) {
}

@media (min-width: @STDIO-XL-MIN) and (max-width: @STDIO-XL-MAX) {
}

@media (min-width: @STDIO-XXL-MIN) {
}

@TITLE-FONT-SIZE-DEFAULT: 1.8rem;
@TITLE-FONT-SIZE-MD: 1.5rem;
@TITLE-FONT-SIZE-XXS: 1.0rem;

.easeIn {
    transform-origin:center center;
    transition:all .2s ease-in;

    &:hover {
        transform:scale(1.05);
    }
}

.grayscale {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}