@import '../../../layout/Template.less';
@import '../../../layout/MainTemplate.less';

.basicMessenger {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5rem @STDIO-PADDING;

    &Box {
        width: 100%;
        max-width: @STDIO-MAX-WIDTH;
        text-align: center;

        h3 {
            font-size: 2rem;
            line-height: 3.1875rem;
            font-weight: bold;
            letter-spacing: 0.3125rem;
            margin-bottom: 0.375rem;
            text-transform: uppercase;
        }

        p {
            font-size: 1.25rem;
            line-height: 3.1875rem;
            letter-spacing: 0.234375rem;

            a:link,
            a:visited {
                color: @STDIO-THEME-COLOR;
                font-size: 1rem;
                font-weight: 600;
                letter-spacing: 0.234375rem;
            }
        }
    }
}

@media (max-width: @STDIO-XS-MAX) {
}

@media (min-width: @STDIO-SM-MIN) and (max-width: @STDIO-SM-MAX) {
}

@media (min-width: @STDIO-MD-MIN) and (max-width: @STDIO-MD-MAX) {
}

@media (min-width: @STDIO-LG-MIN) and (max-width: @STDIO-LG-MAX) {
}

@media (min-width: @STDIO-XL-MIN) and (max-width: @STDIO-XL-MAX) {
}

@media (min-width: @STDIO-XXL-MIN) {
}
