@import '../../../../layout/Template.less';
@import '../../../../layout/MainTemplate.less';

.descriptionMessenger {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    &Box {
        width: 100%;
        max-width: @STDIO-MAX-WIDTH;

        h3 {
            width: 100%;
            font-size: 2rem;
            line-height: 3.1875rem;
            font-weight: 400;
            letter-spacing: 0.3125rem;
            margin-bottom: 0.375rem;
            text-transform: uppercase;
        }

        p:nth-of-type(1) {
            width: 100%;
            font-size: 1.25rem;
            font-weight: 500;
            line-height: 13px;
            color: @STDIO-THEME-COLOR;
            letter-spacing: 0.3125rem;
        }

        p:nth-of-type(2) {
            width: 100%;
            font-size: 1rem;
            margin-top: 1.1875rem;
            font-weight: 600;
            line-height: 1.5625rem;
            letter-spacing: 0.3125rem;
        }

        p:nth-of-type(3) {
            width: 100%;
            margin-top: 2rem;
            font-style: normal;
            font-weight: 300;
            line-height: 1.5rem;
            font-size: 1rem;
            color: #444;
        }
    }
}

@media (max-width: @STDIO-XS-MAX) {
}

@media (min-width: @STDIO-SM-MIN) and (max-width: @STDIO-SM-MAX) {
}

@media (min-width: @STDIO-MD-MIN) and (max-width: @STDIO-MD-MAX) {
}

@media (min-width: @STDIO-LG-MIN) and (max-width: @STDIO-LG-MAX) {
}

@media (min-width: @STDIO-XL-MIN) and (max-width: @STDIO-XL-MAX) {
}

@media (min-width: @STDIO-XXL-MIN) {
}
