@import '../../../layout/MainTemplate.less';
@import '../../../layout/Template.less';

.voteItem {
    @FONT-SIZE: 0.9rem;
    @FONT-SIZE-SUB: 0.7rem;
    @TEXT-COLOR-SUB: #999;

    position: relative;
    padding-top: 56.25%;
    text-align: center;

    background-image: url('/static/main/group-4.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    > .voteItemBox {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        height: 100%;
        width: 100%;

        background-size: 85%;
        background-position: center;
        background-repeat: no-repeat;
    }
}

//Ant Dropdown-----------------------------------------

.ant-dropdown {
    .ant-dropdown-menu {
        .ant-dropdown-menu-item {
            background-color: transparent;
        }
    }
}
