.cmsAdmins-contents {
    .ant-table-thead {
        .ant-table-align-left,
        .ant-table-align-right {
            text-align: center !important;
        }
    }

    .ant-table-tbody {
        .ant-table-row {
            td {
                img {
                    max-width: 100px;
                    max-height: 100px;
                }
            }
        }
    }
}
