@import "../../../layout/Template.less";
@import "../../../layout/CmsTemplate.less";

.cmsFooter{
    text-align:center;
    height:@STDIO-CMS-HEADER-FOOTER-HEIGHT;
    border-top:1px solid @STDIO-CMS-BORDER-COLOR;
}