@import "../../../layout/Template.less";
@import "../../../layout/CmsTemplate.less";

.cmsHeader {
    padding:5px 0 0 0;
    background-color:#fff;
    height:@STDIO-CMS-HEADER-FOOTER-HEIGHT;
    border-bottom:1px solid @STDIO-CMS-BORDER-COLOR;
}