@import "../../../layout/Template.less";
@import "../../../layout/CmsTemplate.less";

.cmsSider {
    .logo {
        width:100%;
        height:@STDIO-CMS-HEADER-FOOTER-HEIGHT;
        text-align: center;
        padding:10px;
        background-color:rgba(255, 255, 255, 0.1);

        img {
            height:100%;
        }
    }
}