@import '../../../layout/Template.less';
@import '../../../layout/MainTemplate.less';
@import '../../../layout/animate.less';

.contentItem {
    margin-bottom: 1rem;

    > .contentItemBox {
        > .thumbnail {
            // padding-top: 176%;
            padding-top: 130%;
            position: relative;

            > .thumbnailBox {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 1);
                -moz-box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 1);
                box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 1);

                overflow: hidden;
                display: flex;
                // align-items: center;
                background-color: #000;
                border: 1px solid #fff;

                img {
                    min-width: 100%;
                    min-height: 100%;
                    object-fit: cover;
                    border: 3px solid #fff;
                }
            }

            > .logoContentHonda,
            > .logoContentRsx {
                width: 30%;
                position: absolute;
                top: 0;

                img {
                    width: 100%;
                }
            }

            > .logoContentHonda {
                left: 0;
            }

            > .logoContentRsx {
                top: 10px;
                right: 10px;
            }

            > .likeLabel {
                position: absolute;
                bottom: 10px;
                left: 10px;

                width: 20px;
                height: 28px;
                line-height: 28px;
                border-radius: 999px;

                color: #f71111;
                background-color: #fff;

                line-height: 28px;
                line-height: 28px;
                text-align: center;
                font-size: 0.8rem;

                &.active {
                    background-color: #f71111;
                    color: #fff;
                }
            }

            .playButton {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                font-size: 3.5rem;

                display: flex;
                align-items: center;
                justify-content: center;

                color: #fff;

                cursor: pointer;
            }

            > .index {
                position: absolute;
                width: 20px;
                height: 30px;
                line-height: 30px;
                font-weight: bold;
                right: -20px;
                top: 1.2rem;
                font-size: 0.8rem;
                text-align: center;
                background-color: red;
                color: #fff;
            }

            > .voteButton {
                position: absolute;
                width: 70px;
                height: 30px;
                right: 10px;
                bottom: 10px;
                cursor: pointer;

                > .voteIcon {
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    border-radius: 999px;
                    border: 1px solid #ddd;
                    text-align: center;
                    display: inline-block;
                    background-color: #fff;
                    color: #f00;
                }

                > .voteCount {
                    width: 30px;
                    height: 20px;
                    line-height: 20px;
                    font-size: 0.8rem;
                    margin-left: 10px;
                    color: #fff;
                    display: inline-block;
                }
                // background-image: url(/static/main/shared/button-binh-chon.svg);
                // background-repeat: no-repeat;
                // background-size: contain;
                // -webkit-animation: pulse 1s infinite;
                // animation: pulse 1s infinite;
            }

            > .voteButton.active {
                > .voteIcon {
                    background-color: red;
                    border-color: red;
                    color: #fff;
                }
            }
        }

        > .meta {
            min-height: 60px;
            display: flex;
            justify-content: space-between;
            margin-top: 10px;

            .contentItemTitle {
                height: 30px;
                margin: 0;
                font-weight: bold;
                overflow: hidden;
                // white-space: nowrap;
                text-overflow: ellipsis;
                font-size: 0.9rem;

                a {
                    color: #fff;
                }
            }

            .contentItemName {
                min-height: 15px;
                max-height: 30px;
                margin: 5px 0 0 0;
                overflow: hidden;
                text-overflow: ellipsis;
                color: #fff;
                font-size: 0.9rem;
            }

            .contentItemShare {
                height: 30px;
                margin: 5px 0 0 0;
                color: #fff;

                display: flex;
                justify-content: flex-end;

                .facebookShare {
                    width: 70px !important;
                    height: 26px !important;

                    padding: 4px 0 4px 4px;

                    background-color: #4267b2;
                    color: #fff;

                    font-size: 0.7rem;
                    font-weight: bold;

                    cursor: pointer;
                    text-decoration: none;
                    border-radius: 3px;

                    .anticon {
                        display: inline-block;
                    }

                    .text {
                        width: calc(100% - 18px);
                        display: inline-block;
                        text-align: center;
                        font-size: 0.7rem;
                    }
                }
            }

            .contentItemDate {
                height: 28px;
                margin: 5px 0 0 0;
                color: #fff;
                text-align: right;
                font-size: 0.6rem;
            }

            > span {
                height: 4rem;
                color: #fff;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
}

@media (max-width: @STDIO-XS-MAX) {
    .contentItem {
        .contentItemBox {
            .thumbnail {
                .playButton {
                    font-size: 2rem;
                }
            }
        }
    }
}

@media (max-width: 321px) {
    .contentItem {
        > .contentItemBox {
            .thumbnail {
                .playButton {
                    font-size: 2rem;
                }
            }
        }
    }
}

@media (max-width: 350px) {
    .contentItem > .contentItemBox > .meta .contentItemDate {
        .anticon {
            display: none;
        }
    }
}

// Adjust font size for small screen

@media (max-width: @STDIO-XS-MAX) {
    .contentItem > .contentItemBox > .meta .contentItemTitle,
    .contentItem > .contentItemBox > .meta .contentItemName {
        font-size: 0.7rem;
    }

    .contentItem > .contentItemBox > .meta .contentItemDate {
        font-size: 0.6rem;
    }

    .contentItem > .contentItemBox > .meta .contentItemShare .facebookShare .text {
        font-size: 0.5rem;
    }
}
