@import '../../../layout/Template.less';
@import '../../../layout/MainTemplate.less';

.hondaTitle {
    display: flex;
    justify-content: center;

    > .hondaTitleBox {
        width: 100%;
        height: 80px;
        position: relative;

        max-width: 200px;

        > img {
            width: 100%;
            max-height: 80px;
            position: absolute;
        }

        > h3 {
            color: #fff;
            font-size: 1.6rem;
            text-transform: uppercase;
            font-style: italic;
            text-align: center;
            font-weight: bold;
            position: absolute;
            margin:0;
        }
    }
}

.hondaTitle.size1x {
    > .hondaTitleBox {
        max-width: 200px;
        > img {
            max-width: 200px;
            bottom:0;
            left:0;
        }

        > h3 {
            font-size: 1.0rem;
            bottom:10%;
            left:20%;
        }
    }
}

.hondaTitle.size2x {
    > .hondaTitleBox {
        max-width: 400px;

        > img {
            max-width: 400px;
            bottom:0;
            left:0;
        }

        > h3 {
            bottom:25%;
            left:17%;
        }
    }
}

.hondaTitle.size3x {
    > .hondaTitleBox {
        max-width: 600px;

        > img {
            max-width: 600px;
            bottom:0;
            left:0;
        }

        > h3 {
            bottom:20%;
            left:10%;
        }
    }
}

@media (max-width: @STDIO-XS-MAX) {
    .hondaTitle3x {
        > .hondaTitle3xBox {
            > h3 {
                font-size: 1.6rem;
            }
        }
    }
}

@media (min-width: @STDIO-SM-MIN) and (max-width: @STDIO-SM-MAX) {
}

@media (min-width: @STDIO-MD-MIN) and (max-width: @STDIO-MD-MAX) {
}

@media (min-width: @STDIO-LG-MIN) and (max-width: @STDIO-LG-MAX) {
}

@media (min-width: @STDIO-XL-MIN) and (max-width: @STDIO-XL-MAX) {
}

@media (min-width: @STDIO-XXL-MIN) {
}
