@import '../../../layout/Template.less';
@import '../../../layout/MainTemplate.less';

.kolContentItem {
    margin: 0 0 1rem 0;

    > .kolContentItemBox {
        > .thumbnail {
            width: 100%;
            position: relative;

            -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 1);
            -moz-box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 1);
            box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 1);
            border: 3px solid #fff;
            color: #fff;

            img {
                width: 100%;
            }

            > .voteButton {
                position: absolute;
                width: 70px;
                height: 30px;
                right: 10px;
                bottom: 10px;
                cursor: pointer;

                > .voteIcon {
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    border-radius: 999px;
                    border: 1px solid #ddd;
                    text-align: center;
                    display: inline-block;
                    background-color: #fff;
                    color: #f00;
                }

                > .voteCount {
                    width: 30px;
                    height: 20px;
                    line-height: 20px;
                    font-size: 0.8rem;
                    margin-left: 10px;
                    color: #fff;
                    display: inline-block;
                }
            }

            > .voteButton.active {
                > .voteIcon {
                    background-color: red;
                    border-color: red;
                    color: #fff;
                }
            }

            > .likeLabel {
                position: absolute;
                bottom: 10px;
                left: 10px;
                width: 30px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                border-radius: 999px;
                color: red;
                background-color: #fff;

                &.active {
                    color: #fff;
                    background-color: #f00;
                }
            }

            .playButton {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                font-size: 3.5rem;

                display: flex;
                align-items: center;
                justify-content: center;

                color: #fff;

                cursor: pointer;
            }

            > .voteCount {
                position: absolute;
                bottom: 1rem;
                left: 3rem;
                color: #fff;
            }

            > .rank {
                position: absolute;
                width: 30px;
                height: 50px;
                line-height: 50px;
                font-weight: bold;
                right: -33px;
                top: 1.2rem;
                text-align: center;
                background-color: red;
                color: #fff;
            }

            > .label {
                position: absolute;
                width: 10rem;
                height: 3rem;
                right: -2.4rem;
                bottom: 0.5rem;
                background-image: url(/static/main/shared/button-binh-chon.svg);
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

        > .kolContentItemShare {
            height: 30px;
            margin: 5px 0 0 0;
            color: #fff;

            display: flex;
            justify-content: flex-end;

            .facebookShare {
                width: 70px !important;
                height: 26px !important;

                padding: 4px 0 4px 4px;

                background-color: #4267b2;
                color: #fff;

                font-size: 0.7rem;
                font-weight: bold;

                cursor: pointer;
                text-decoration: none;
                border-radius: 3px;

                .anticon {
                    display: inline-block;
                }

                .text {
                    width: calc(100% - 18px);
                    display: inline-block;
                    text-align: center;
                    font-size: 0.7rem;
                }
            }
        }
    }
}

// @media (max-width: @STDIO-XS-MAX) {
//     .kolContentItem {
//         .kolContentItemBox {
//             .thumbnail {
//                 .label {
//                     width: 6rem;
//                     height: 2.5rem;
//                     right: -2rem;
//                 }
//             }
//         }
//     }
// }

// @media (max-width: 321px) {
//     .kolContentItem {
//         .kolContentItemBox {
//             .thumbnail {
//                 .rank {
//                     width: 25px;
//                     right: -28px;
//                 }
//                 .label {
//                     width: 5rem;
//                     height: 2.5rem;
//                     right: -2rem;
//                     bottom: 0;
//                 }
//             }
//         }
//     }
// }
