@import '../../../../layout/Template.less';
@import '../../../../layout/MainTemplate.less';

.simpleHeader {
    width: 100%;

    .headerMargin {
        width: 100%;
        height: @STDIO-HEADER-FOOTER-HEIGHT;
    }

    &Box {
        width: 100%;
        padding: 0 @STDIO-PADDING;

        -webkit-box-shadow: 1px 1px 0px 0px #eee;
        -moz-box-shadow: 1px 1px 0px 0px #eee;
        box-shadow: 1px 1px 0px 0px #eee;

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;

        background-color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .logo {
            width: 100px;
            height: @STDIO-HEADER-FOOTER-HEIGHT;
            line-height: 0;
            padding: 8px 0;

            img {
                height: 100%;
            }
        }
    }
}

@media (max-width: @STDIO-XS-MAX) {
}

@media (min-width: @STDIO-SM-MIN) and (max-width: @STDIO-SM-MAX) {
}

@media (min-width: @STDIO-MD-MIN) and (max-width: @STDIO-MD-MAX) {
}

@media (min-width: @STDIO-LG-MIN) and (max-width: @STDIO-LG-MAX) {
}

@media (min-width: @STDIO-XL-MIN) and (max-width: @STDIO-XL-MAX) {
}

@media (min-width: @STDIO-XXL-MIN) {
}
