@import "../../../layout/Template.less";
@import "../../../layout/AuthTemplate.less";

.authHeader {

    width:100%;

    display: flex;
    align-items: center;
    justify-content: center;

    .authHeaderBox {
        width:100%;
        max-width: @STDIO-AUTH-MAX-WIDTH;
        margin: 2*@STDIO-AUTH-PADDING 0;

        .logo {
            width: @STDIO-AUTH-LOGO-SIZE;
            height: @STDIO-AUTH-LOGO-SIZE;
            line-height: @STDIO-AUTH-LOGO-SIZE;

            img {
                width: 100%;
            }

            float:left
        }

        .siteName {
            width: calc(100% - @STDIO-AUTH-LOGO-SIZE - 15px);
            height: @STDIO-AUTH-LOGO-SIZE;
            line-height: @STDIO-AUTH-LOGO-SIZE;
            font-size: 1.2rem;
            text-transform: uppercase;
            font-weight:600;
            float:right
        }
    }
}