@import "../../../layout/Template.less";
@import "../../../layout/AuthTemplate.less";

.authTemplate-body {

    .authTemplate-bodyBox {

        .ant-input:hover,
        .ant-input:focus {
            border-color: @STDIO-THEME-COLOR;
            border-right-width: 1px !important;
            outline: 0;
            box-shadow: none;
        }

        .ant-btn:hover,
        .ant-btn:focus {
            color: @STDIO-THEME-COLOR !important;
            background-color: #fff;
            border-color: @STDIO-THEME-COLOR;
        }
    }
}