@import "../../../../layout/Template.less";
@import "../../../../layout/MainTemplate.less";

.basicList {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    &Box {
        width:100%;
        padding:0 @STDIO-PADDING;

        justify-content: center;
        align-items: center;
        text-align: center;

        .item {
            padding:@STDIO-PADDING 0;

            img {
                max-width:100%;
                height:200px;
            }

            h3 {
                font-size:1rem;
                font-weight: 600;
                letter-spacing: .3125rem;
                text-transform: uppercase;
                margin:@STDIO-MARGIN 0 10px 0;
                text-align: center;
            }

            p {
                font-size: 1rem;
                text-align: center;
            }
        }
    }
}

@media (max-width: @STDIO-XS-MAX) {
}

@media (min-width: @STDIO-SM-MIN) and (max-width: @STDIO-SM-MAX) {
}

@media (min-width: @STDIO-MD-MIN) and (max-width: @STDIO-MD-MAX) {
}

@media (min-width: @STDIO-LG-MIN) and (max-width: @STDIO-LG-MAX) {
}

@media (min-width: @STDIO-XL-MIN) and (max-width: @STDIO-XL-MAX) {
}

@media (min-width: @STDIO-XXL-MIN) {
}