@import '../../../layout/Template.less';
@import '../../../layout/MainTemplate.less';

.mainFooter {
    background-color: #000;
    padding-top: 5rem @STDIO-PADDING;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &Box {
        max-width: @STDIO-MAX-WIDTH;

        .info {
            color: white;
            padding: 0.1rem;
            text-align: center;

            h3 {
                color: white;
                margin-bottom: 2.875rem;
                font-size: 1.25rem;
                font-weight: 600;
                line-height: 1.5rem;
                letter-spacing: 0.175rem;
                text-transform: uppercase;
            }

            img {
                width: 100%;
            }

            img.logo {
                width: 60px;
                margin-bottom: @STDIO-PADDING;
            }

            p {
                margin-top: 1.5rem;
                font-size: 1rem;
                line-height: 2;

                a:link,
                a:visited {
                    display: inline-block;
                    height: 40px;
                    line-height: 40px;
                    border-radius: 20px;
                    padding: 0 20px;
                    background-color: @STDIO-THEME-COLOR;
                    text-transform: uppercase;
                    color: #fff;
                }
            }
        }
    }
}

@media (max-width: @STDIO-XS-MAX) {
}

@media (min-width: @STDIO-SM-MIN) and (max-width: @STDIO-SM-MAX) {
}

@media (min-width: @STDIO-MD-MIN) and (max-width: @STDIO-MD-MAX) {
}

@media (min-width: @STDIO-LG-MIN) and (max-width: @STDIO-LG-MAX) {
}

@media (min-width: @STDIO-XL-MIN) and (max-width: @STDIO-XL-MAX) {
}

@media (min-width: @STDIO-XXL-MIN) {
}
