@import '../../../../layout/Template.less';
@import '../../../../layout/MainTemplate.less';

.simpleFooter {
    background-color: transparent;
    width: 100%;
    z-index: 100;
    // margin-top: -128px;

    display: flex;
    justify-content: center;
    align-items: center;

    &Box {
        max-width: @STDIO-MAX-WIDTH;
        width: 100%;

        .simpleFooterInfo {
            img {
                width: 100%;
                max-width: 5rem;
            }

            h3 {
                color: #fff;
                margin-bottom: 0.5rem;
                text-transform: uppercase;
            }

            ul {
                margin: 0 0 1.5rem 0;
                padding: 0;

                li {
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    a {
                        color: #fff;
                    }
                }
            }
        }

        .simpleFooterBrand {
            p {
                text-align: center;
                color: #fff;
                margin: 0;
                text-transform: uppercase;
            }

            p:first-of-type {
                padding: 2rem 0 1rem 0;
                font-size: 1rem;
                font-weight: bold;
            }

            p:last-of-type {
            }
        }
    }
}

@media (max-width: @STDIO-XS-MAX) {
}

@media (min-width: @STDIO-SM-MIN) and (max-width: @STDIO-SM-MAX) {
}

@media (min-width: @STDIO-MD-MIN) and (max-width: @STDIO-MD-MAX) {
}

@media (min-width: @STDIO-LG-MIN) and (max-width: @STDIO-LG-MAX) {
}

@media (min-width: @STDIO-XL-MIN) and (max-width: @STDIO-XL-MAX) {
}

@media (min-width: @STDIO-XXL-MIN) {
}
