@import '../../../layout/Template.less';
@import '../../../layout/MainTemplate.less';

.hondaFooter {
    width: 100%;
    height: 50px;
    background-color: #251e1e;

    > .hondaFooterBox {
        width: 100%;
        height: 50px;
        line-height: 50px;
        padding: 0 @STDIO-PADDING;
        text-align: center;
        color:#fff;
    }
}

@media (max-width: @STDIO-XS-MAX) {
}

@media (min-width: @STDIO-SM-MIN) and (max-width: @STDIO-SM-MAX) {
}

@media (min-width: @STDIO-MD-MIN) and (max-width: @STDIO-MD-MAX) {
}

@media (min-width: @STDIO-LG-MIN) and (max-width: @STDIO-LG-MAX) {
}

@media (min-width: @STDIO-XL-MIN) and (max-width: @STDIO-XL-MAX) {
}

@media (min-width: @STDIO-XXL-MIN) {
}
