@import '../../../../layout/Template.less';
@import '../../../../layout/MainTemplate.less';

.basicCopy {
    width: 100%;

    > .basicCopyBox {
        width: 100%;

        display: flex;
        justify-content: space-between;

        input {
            height: 40px;
            background-color: transparent;
            border: none;
            box-shadow: none;
        }

        > .ant-btn {
            height: 40px;
            padding: 0 8px;
            font-weight: 700;
            background-color: transparent;
            border: none;
            box-shadow: none;
        }

        .ant-btn:hover,
        .ant-btn:focus,
        .ant-btn:active {
            color: @STDIO-THEME-COLOR;
        }
    }
}
