@import "../../../../layout/Template.less";
@import "../../../../layout/MainTemplate.less";

.basicSearch {
    width: 100%;
    box-shadow: none !important;

    &Box {
        width:100%;

        > .search {
            width:100%;
            height:40px;

            input {
                border:none;
                background-color:rgba(0, 0, 0, 0.05);
            }
        }
    }
}