@import "../../../../layout/Template.less";
@import "../../../../layout/MainTemplate.less";

.basicInput {
    width: 100%;

    > .basicInputBox {
        width:100%;
        
        input {
            width:100%;
            height:40px;
            border:none;
            background-color:rgba(0, 0, 0, 0.05);
        }

        .ant-input {
            box-shadow: none !important;
        }
    }
}