@import "../../../../layout/Template.less";
@import "../../../../layout/MainTemplate.less";

.basicTextArea {
    width: 100%;

    > .basicTextAreaBox {
        width:100%;

        .ant-input {
            background-color: rgba(0, 0, 0, 0.05);
            border: none;
            box-shadow: none !important;
        }
    }
}