@import '../../../../layout/Template.less';
@import '../../../../layout/MainTemplate.less';

button.basicButton {
    height: 60px;
    padding: 0 8px;
    font-weight: 700;
    background-color: transparent;
    background-image: url('/static/button.svg');
    background-repeat: no-repeat;
    border: none;
    box-shadow: none;
    border-radius: 0;

    span {
        font-size: 0.68rem;
    }
}

button.basicButton:hover,
button.basicButton:active,
button.basicButton:focus,
button.basicButton:focus-within {
    background-image: url('/static/button.svg');
    background-color: transparent;
}
