@import '../../../../layout/Template.less';
@import '../../../../layout/MainTemplate.less';

.carouselText {
    width: 100%;

    &Box {
        width: 100%;
        max-width: @STDIO-MAX-WIDTH;

        position: relative;

        .contents {
            height: 400px;
            padding: 5rem 0;
            padding-bottom: 50px;

            .content {
                width: 100%;

                .meta {
                    h3 {
                        font-size: 1.875rem;
                        line-height: 2.5625rem;
                        font-weight: 400;
                    }

                    p {
                        line-height: 1.8125rem;
                        padding-left: 1.125rem;
                        margin-top: 1rem;
                        margin-bottom: 3rem;
                        font-weight: 300;
                        border-left: 3px solid #000;
                        font-size: 1rem;
                        text-align: left;

                        a {
                            font-size: 1rem;
                            color: @STDIO-THEME-COLOR;
                            font-weight: 600;
                            letter-spacing: 0.234375rem;
                        }
                    }
                }
            }
        }

        a.prev,
        a.next {
            position: absolute;
            top: 50%;

            .icon {
                font-size: 3rem !important;
                color: rgba(255, 255, 255, 0.5);
            }

            &:hover {
                .icon {
                    color: rgba(255, 255, 255, 1);
                }
            }
        }

        a.prev {
            left: -50px;
        }

        a.next {
            right: -50px;
        }
    }
}

@media (max-width: @STDIO-XS-MAX) {
}

@media (min-width: @STDIO-SM-MIN) and (max-width: @STDIO-SM-MAX) {
}

@media (min-width: @STDIO-MD-MIN) and (max-width: @STDIO-MD-MAX) {
}

@media (min-width: @STDIO-LG-MIN) and (max-width: @STDIO-LG-MAX) {
}

@media (min-width: @STDIO-XL-MIN) and (max-width: @STDIO-XL-MAX) {
}

@media (min-width: @STDIO-XXL-MIN) {
}
