@import '../../../../layout/Template.less';
@import '../../../../layout/MainTemplate.less';

.carouselProjects {
    > .carouselProjectsBox {
        position: relative;

        .carouselProjectsContents {
            padding-bottom: 50px;

            .carouselProjectsContent {
                padding:10px 20px;

                .author {
                    p {
                        color: #fff;
                    }
                }
            }
        }

        a.prev,
        a.next {
            position: absolute;
            top: 25%;
            padding:10px 4px;
            background-color: #f71111;

            .icon {
                font-size: 1.2rem !important;
                color: #fff;
            }

            &:hover {
                .icon {
                    color: rgba(255, 255, 255, 1);
                }
            }
        }

        a.prev {
            left: -20px;
        }

        a.next {
            right: -20px;
        }
    }
}

@media (max-width: @STDIO-XS-MAX) {
}

@media (min-width: @STDIO-SM-MIN) and (max-width: @STDIO-SM-MAX) {
}

@media (min-width: @STDIO-MD-MIN) and (max-width: @STDIO-MD-MAX) {
}

@media (min-width: @STDIO-LG-MIN) and (max-width: @STDIO-LG-MAX) {
}

@media (min-width: @STDIO-XL-MIN) and (max-width: @STDIO-XL-MAX) {
}

@media (min-width: @STDIO-XXL-MIN) {
}
