@import '../../../layout/Template.less';
@import '../../../layout/MainTemplate.less';

.awardTitle {
    padding-top: 10%;
    margin: 0 auto;

    background-image: url('/static/main/pc/award-title.svg');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    > span {
        position: absolute;
        width: 100%;

        color: #fff;
        font-size: 1.6rem;
        font-style: italic;
        font-weight: 600;

        text-align: center;
        text-transform: uppercase;

        top: 20px;
    }
}

@media (max-width: @STDIO-XS-MAX) {
    .awardTitle {
        margin-top: 1rem;
        > span {
            font-size: 1.1rem;
            top: -25px;
        }
    }
}

@media (min-width: @STDIO-SM-MIN) and (max-width: @STDIO-SM-MAX) {
    .awardTitle {
        margin-top: 1.75rem;
        > span {
            top: -30px;
        }
    }
}

@media (min-width: @STDIO-MD-MIN) and (max-width: @STDIO-MD-MAX) {
    .awardTitle {
        background-size: 90%;
    }
}

@media (min-width: @STDIO-LG-MIN) and (max-width: @STDIO-LG-MAX) {
    .awardTitle {
        width: 800px;
    }
}

@media (min-width: @STDIO-XL-MIN) and (max-width: @STDIO-XL-MAX) {
    .awardTitle {
        width: 800px;
    }
}

@media (min-width: @STDIO-XXL-MIN) {
    .awardTitle {
        width: 800px;
    }
}
