@import '../../../layout/Template.less';
@import '../../../layout/MainTemplate.less';

.customTitle {
    width: 100%;
    margin-top:5px;

    display: flex;
    justify-content: space-between;
    text-align: center;

    > .customText {
        color: #fff;
        font-style: italic;
        font-weight: 600;
        text-transform: uppercase;
        margin:0 auto;
        position: relative;
        line-height:1.3;
        font-size: 0;

        > span {
            font-size:@TITLE-FONT-SIZE-DEFAULT;
        }

        > img {
            position: absolute;
            bottom: -10px;
            left: -10px;
        }
    }
}

@media (min-width: @STDIO-XXS-MAX) and (max-width: @STDIO-MD-MAX) {
    .customTitle {
        > .customText {
            > span {
                font-size: @TITLE-FONT-SIZE-MD;
            }
        }
    }
}

@media (max-width: @STDIO-XXS-MAX) {
    .customTitle {
        .customText {
            > span {
                font-size: @TITLE-FONT-SIZE-XXS;
            }
        }
    }
}