@import '../../../layout/Template.less';
@import '../../../layout/MainTemplate.less';

.loginTitle {
    height: 60px;
    width: 260px;
    margin: 0 auto;

    background-image: url('/static/main/pc/login-title.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    > span {
        position: absolute;
        width: 100%;

        color: #fff;
        font-size: 1.75rem;
        font-style: italic;
        font-weight: 600;

        text-align: left;
        text-transform: uppercase;

        top: 5px;
        left: 50px;
    }
}

@media (max-width: @STDIO-XS-MAX) {
    .loginTitle {
        background-size: 70%;
        > span {
            font-size: 1.1rem;

            left: 80px;
            top: 10px;
        }
    }
}

@media (min-width: @STDIO-SM-MIN) and (max-width: @STDIO-SM-MAX) {
}

@media (min-width: @STDIO-MD-MIN) and (max-width: @STDIO-MD-MAX) {
}

@media (min-width: @STDIO-LG-MIN) and (max-width: @STDIO-LG-MAX) {
}

@media (min-width: @STDIO-XL-MIN) and (max-width: @STDIO-XL-MAX) {
}

@media (min-width: @STDIO-XXL-MIN) {
}
