@import '../../../layout/Template.less';
@import '../../../layout/MainTemplate.less';

.mediumTitle {
    height: 70px;
    width: 350px;
    margin: 0 auto;

    background-image: url('/static/main/pc/medium-title.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    > span {
        position: absolute;
        width: 100%;

        color: #fff;
        font-size: 1.6rem;
        font-style: italic;
        font-weight: 600;

        text-align: left;
        text-transform: uppercase;

        top: 5px;
        left: 55px;
    }
}

@media (max-width: @STDIO-XS-MAX) {
    .mediumTitle {
        background-size: 70%;
        text-align: center;
        > span {
            left: 90px;
            top: 15px;
            font-size: 1.1rem;
        }
    }
}

@media (min-width: @STDIO-SM-MIN) and (max-width: @STDIO-SM-MAX) {
}

@media (min-width: @STDIO-MD-MIN) and (max-width: @STDIO-MD-MAX) {
}

@media (min-width: @STDIO-LG-MIN) and (max-width: @STDIO-LG-MAX) {
}

@media (min-width: @STDIO-XL-MIN) and (max-width: @STDIO-XL-MAX) {
}

@media (min-width: @STDIO-XXL-MIN) {
}
