@import '../../../layout/Template.less';
@import '../../../layout/MainTemplate.less';

.rankTitle {
    height: 50px;
    width: 175px;
    margin: 0 auto;

    background-image: url('/static/main/shared/rank-title.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    > span {
        position: absolute;
        width: 100%;

        color: #fff;
        font-size: 1.5rem;
        font-weight: 600;

        top: 0;
        left: 1px;
    }
}

@media (max-width: @STDIO-XS-MAX) {
}

@media (min-width: @STDIO-SM-MIN) and (max-width: @STDIO-SM-MAX) {
}

@media (min-width: @STDIO-MD-MIN) and (max-width: @STDIO-MD-MAX) {
}

@media (min-width: @STDIO-LG-MIN) and (max-width: @STDIO-LG-MAX) {
}

@media (min-width: @STDIO-XL-MIN) and (max-width: @STDIO-XL-MAX) {
}

@media (min-width: @STDIO-XXL-MIN) {
}
