@import '../../../../layout/Template.less';
@import '../../../../layout/MainTemplate.less';

.basicMenu {
    display: inline-block;

    &Box {
        .desktopMenu {
            border: none;

            .item {
                display: inline-block;

                a {
                    width: auto;
                    height: @STDIO-HEADER-FOOTER-HEIGHT;
                    line-height: @STDIO-HEADER-FOOTER-HEIGHT;
                    display: inline-block;
                    padding: 0 20px;
                    text-transform: uppercase;
                    font-weight: 600;
                    color: #333;
                }
            }

            .item:hover,
            .item.active {
                a {
                    color: @STDIO-THEME-COLOR;
                    border-bottom: 2px solid @STDIO-THEME-COLOR;
                }
            }
        }

        .mobileMenuButton {
            width: @STDIO-HEADER-FOOTER-HEIGHT;
            height: @STDIO-HEADER-FOOTER-HEIGHT;
            background-color: transparent;
            border: none;
            text-align: right;
            padding: 0;
            display: none;

            &Icon {
                font-size: 1.8em;
                color: @STDIO-THEME-COLOR;
            }
        }
    }
}

.mobileMenuDrawer {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: @STDIO-THEME-COLOR;
    padding: 0;

    .mobileMenu {
        text-align: center;

        .item {
            width: 100%;
            display: inline-block;

            a {
                width: auto;
                height: @STDIO-HEADER-FOOTER-HEIGHT;
                line-height: @STDIO-HEADER-FOOTER-HEIGHT;
                display: inline-block;
                padding: 0 20px;
                text-transform: uppercase;
                font-weight: 600;
                color: #333;
            }
        }

        .item:hover,
        .item.active {
            a {
                color: @STDIO-THEME-COLOR;
                border-bottom: 2px solid @STDIO-THEME-COLOR;
            }
        }
    }
}

@media (max-width: @STDIO-XS-MAX) {
    .basicMenu {
        &Box {
            .desktopMenu {
                display: none;
            }

            .mobileMenuButton {
                display: block;
            }
        }
    }
}

@media (min-width: @STDIO-SM-MIN) and (max-width: @STDIO-SM-MAX) {
    .basicMenu {
        &Box {
            .desktopMenu {
                display: none;
            }

            .mobileMenuButton {
                display: block;
            }
        }
    }
}

@media (min-width: @STDIO-MD-MIN) and (max-width: @STDIO-MD-MAX) {
    .basicMenu {
        &Box {
            .desktopMenu {
                display: none;
            }

            .mobileMenuButton {
                display: block;
            }
        }
    }
}

@media (min-width: @STDIO-LG-MIN) and (max-width: @STDIO-LG-MAX) {
}

@media (min-width: @STDIO-XL-MIN) and (max-width: @STDIO-XL-MAX) {
}

@media (min-width: @STDIO-XXL-MIN) {
}
